/**
 * Utility CSS.
 */

.rt-d-flex {
	@extend %d-flex;
}

.rt-flex-wrap {
	@extend %flex-wrap;
}

.rt-justify-content-center {
	@extend %justify-content-center;
}

.rt-align-items-center {
	@extend %align-items-center;
}

.rt-primary-color {
	@extend %primary-color;
}

.rt-primary-color-bg {
	@extend %primary-color-bg;
}

// .rt-secondary-color {
// 	@extend %secondary-color;
// }

// .rt-secondary-color-bg {
// 	@extend %secondary-color-bg;
// }

.rt-white-color {
	@extend %white-color;
}

.rt-white-color-bg {
	@extend %white-color-bg;
}
.rt-black-color {
	@extend %black-color;
}

.rt-black-color-bg {
	@extend %black-color-bg;
}

// .rt-default-gutter {
// 	@extend %default-gutter;
// }

// .rt-gutter-half {
// 	@extend %gutter-half;
// }

.rt-mb-0 {
	@extend %mb-0;
}

.rt-static-content {
	@extend %relative-content;
}

.rt-relative-content {
	@extend %relative-content;
}

.rt-absolute-content {
	@extend %relative-content;
}

/*======================================
// pre-loader
=====================================*/
#preloader {
	background: url("../../media/preloader.gif") rgba(255, 255, 255, 0.99) no-repeat scroll center center;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}


.mb--24 {
	margin-bottom: 24px !important;
}
.mb--40 {
  margin-bottom: 40px !important;
}
.mt--24 {
  margin-top: 24px !important;
}
.mt--18 {
  margin-top: 18px !important;
}
.mt--60 {
  margin-top: 60px !important;
}

/*======================================
// Back-to-Top
=====================================*/

@media (min-width: 576px) {
  .progress-circle-wrap.active-progress {
    opacity: 1;
  }
}

.progress-circle-wrap {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.75rem);
  transition: all 200ms linear, margin-right 0ms;
  &::after {
    position: absolute;
    content: "\f102";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    font-size: 15px;
    color: $color-white;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 200ms linear;
  }
  &::before {
    height: 60px;
    width: 60px;
    display: block;
    background-color: $color-primary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: "";
    border-radius: 60px;
    z-index: -1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .progress-circle-wrap {
    transition: none;
  }
}

.progress-circle-wrap.active-progress {
  visibility: visible;
  transform: translateY(0);
}

.progress-circle-wrap:after {
  position: absolute;
  content: "\f102";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-align: center;
  font-size: 15px;
  color: $color-white;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: all 200ms linear;
}

@media (prefers-reduced-motion: reduce) {
  .progress-circle-wrap:after {
    transition: none;
  }
}

.progress-circle-wrap svg path {
  fill: none;
}

.progress-circle-wrap svg.progress-circle path {
  stroke: #fff;
  stroke-width: 2;
  box-sizing: border-box;
  transition: all 200ms linear;
}

@media (prefers-reduced-motion: reduce) {
  .progress-circle-wrap svg.progress-circle path {
    transition: none;
  }
}


