
/**
 * Layout - Testimonial.
 */

 .testimonial-wrap {
    position: relative;
    z-index: 1;
    padding: 120px 0 0 0;
    .testimonial-slider-wrap {
        position: relative;
        .swiper-pagination {
           bottom: 90px;
            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                background: #F0ECFA;
                opacity: 1;
                display: inline-block;
                border-radius: 50%;
            }
            .swiper-pagination-bullet-active {
                background: $color-primary;
                width: 20px;
                height: 10px;
                border-radius: 20px;
            }
        }
    }
}


