
/**
 * Layout - Progress.
 */

.ayo-progress-wrap {
    padding-bottom: 210px;
    text-align: center;
    .section-heading {
        @include media-only ("sm", min) {
            width: 683px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}
.ayo-progress-wrap.style-2 {
    background-color: $color-gray;
    padding-bottom: 90px;
    padding-top: 40px;
    @include media-only ("lg", min) {
        padding-top: 0;
    }
    .ayo-progress-wrapper-inner {
        .ayo-progress-box {
            border: 0;
            border-bottom: 1px solid #CAC2C1;
            // .inner-counter {
            //     border: 0;
            // }
        }
    }
}

.ayo-progress-wrapper-inner {
    .ayo-progress-box {
        position: relative;
        padding: 0px 0px 30px 0px;
        margin-left: 0px;
        @include media-only ("sm", min) {
            margin-left: -24px;
        }
        .inner-counter {
            text-align: center;
            position: relative;
            .counterUp {
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 60px;
                line-height: 75px;
                color: var(--color-black);
                text-align: center;
                position: relative;
                z-index: 1;
            }
            .label {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                text-align: center;
                color: #727272;
                @include media-only ("lg", min) {
                    font-size: 24px;
                    line-height: 31px;
                }
            }
        }
        &:nth-child(1) {
            border-bottom: 1px solid #CAC2C1;
            border-right: 0;
            @include media-only ("sm", min) {
                border-right: 1px solid #CAC2C1;
            }
        }
        &:nth-child(2) {
            border-bottom: 1px solid #CAC2C1;
            border-right: 0;
            @include media-only ("sm", min) {
                border-right: 1px solid #CAC2C1;
            }
        }
    }
    .ayo-progress-box.style-2 {
        border-right: 0;
        border-bottom: 1px solid #CAC2C1;
    }
}

.ayo-progress-box-2 {
    padding: 60px 0px;
    @include media-only ("sm", min) {
        padding: 80px 0;
    }
    @include media-only ("md", min) {
        padding: 100px 0;
    }
    @include media-only ("lg", min) {
        transform: translateY(-150px);
        padding: 0;
    }
}
.ayo-progress-box-2.style-2 {
    transform: translateY(0);
    background: $color-gray;
    @include media-only ("lg", min) {
        padding-top: 140px;
    }
}

.ayo-progress-wrapper-inner-2 {
    background: #6230F0;
    border-radius: 20px;
    padding: 50px;
    @include media-only ("lg", min) {
        border-radius: 290px;
        padding: 100px 70px;
    }
    .progress-box {
        margin-bottom: 24px;
        @include media-only ("md", min) {
           margin-bottom: 0;
        }
        .inner-counter {
            text-align: center;
            position: relative;
            .counterUp {
                font-family: var(--font-title);
                font-weight: 600;
                font-size: 40px;
                line-height: 52px;
                color: var(--color-white);
                text-align: center;
                position: relative;
                z-index: 1;
                @include media-only ("xs", min) {
                    font-size: 50px;
                    line-height: 62px;
                }
            }
            .label {
                margin-bottom: 0;
                font-weight: 400;
                font-size: 20px;
                line-height: 31px;
                text-align: center;
                color: var(--color-white);
                @include media-only ("xs", min) {
                    font-size: 24px;
                }
            }
        }
    }
}
.ayo-progress-wrapper-inner-2.style-2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    padding: 40px;
    @include media-only ("xs", min) {
        padding: 65px;
        border-radius: 140px;
    }
    @include media-only ("md", min) {
        padding: 65px 100px 70px;
        border-radius: 280px;
    }
    .progress-box {
        .inner-counter {
            .counterUp {
                color: $color-black;
                font-weight: 500;
                font-size: 40px;
                line-height: 50px;
            }
            .shape {
                width: 12px;
                height: 12px;
                background: #FF7A00;
                border-radius: 50%;
                margin: auto;
                margin-bottom: 20px;
                margin-top: 20px;
                animation: rtpulse infinite 2.5s;
            }
            .label {
                color: #797979;
            }
        }
    }
}


.ayo-progress-wrapper-inner-3 {
    padding: 100px 0px 0px 0px;
    .progress-box {
        .inner-counter {
            text-align: center;
            position: relative;
            .counterUp {
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 30px;
                line-height: 62px;
                color: var(--color-black);
                text-align: center;
                position: relative;
                z-index: 1;
                @include media-only ("lg", min) {
                    font-size: 50px;
                }
            }
            .label {
                margin-bottom: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 33px;
                text-align: center;
                color: var(--color-black);
                @include media-only ("sm", min) {
                    font-size: 25px;
                }
            }
        }
    }
}

