/**
 * Layout - Brand.
 */

.brand-wrap {
    padding: 20px 0 80px;
}
.brand-wrap.style-2 {
    background-color: #EEFFFB;
    padding: 80px 0;
}
.brand-wrap.style-3 {
    padding: 0;
    p {
        font-family: $font-title;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        span {
            color: $color-black;
            position: relative;
            &::after {
                content: "";
                height: 1px;
                width: 100%;
                background-color: $color-black;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .brand-layout {
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 30px;
    }
}