/**
 * Layout - Service.
 */
.service-wrap-3 {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .section-heading {
        @include media-only ("lg", min) {
            width: 630px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .bg-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        display: none;
        @include media-only ("sm", min) {
           display: block;
        }
    }
}

.service-wrap-4 {
    background-color: #f8f8f9;
    padding-bottom: 55px;
    @include media-only ("lg", min) {
        padding-bottom: 95px;
    }
    &.style-2 {
        background-color: transparent;
    }
}

