/**
 * Layout - Service.
 */

.ayo-service-wrap {
    background: var(--color-gray);
}
.ayo-service-box {
    position: relative;
    // text-align: center;
    margin-bottom: 24px;
    @include media-only ("sm", min) {
        margin-bottom: 0;  
    }
    // @include media-only ("lg", min) {
    //     padding-left: 140px;
    // }
    .round-shape {
        height: 380px;
        width: 380px;
        background: #FFEBB9;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .text {
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: $color-black;
            font-family: var(--font-title);
            @include media-only ("xs", min) {
                font-size: 30px;
                line-height: 38px;
            }
        }
        .label {
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: $color-black;
            font-family: var(--font-title);
            @include media-only ("xs", min) {
                font-size: 22px;
                line-height: 28px;
            }
        }
        .round-inner {
            transition: all ease 0.5s;
            .rt-round {
                position: absolute;
                bottom: 0;
                right: 0;
                transition: all 0.5s cubic-bezier(0.3, 0.02, 0, 0.6);
                visibility: hidden;
                opacity: 0;
                z-index: -1;
                .round-shape-2 {
                    height: 200px;
                    width: 200px;
                    background: #EEF2FF;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    // animation: rotated 12s infinite linear reverse;
                    .text {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #191D27;
                        font-family: var(--font-title);
                    }
                    .label {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 19px;
                        color: #191D27;
                        font-family: var(--font-title);
                    }
                }
            }
            .rt-round-2 {
                position: absolute;
                bottom: 0;
                right: 0;
                transition: all 0.5s cubic-bezier(0.3, 0.02, 0, 0.6);
                visibility: hidden;
                opacity: 0;
                .round-shape-3 {
                    height: 170px;
                    width: 170px;
                    background: #FFEDEE;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    // animation: rotated 12s infinite linear reverse;
                    .text {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #191D27;
                        font-family: var(--font-title);
                    }
                    .label {
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 16px;
                        color: #191D27;
                        font-family: var(--font-title);
                    }
                }
            }
            .round-shape-list {
                ul {
                    li {
                        background: #FFE7F5;
                        border-radius: 50%;
                        position: absolute;
                        transition: all 0.5s cubic-bezier(0.3, 0.02, 0, 0.6);
                        visibility: hidden;
                        opacity: 0;
                        z-index: -1;
                        &:nth-child(1) {
                            width: 70px;
                            height: 70px;
                            top: 0;
                            right: 0;
                            // animation: rotated 12s infinite linear reverse;
                        }
                        &:nth-child(2) {
                            width: 100px;
                            height: 100px;
                            bottom: 0;
                            left: 0;
                            // animation: rotated 12s infinite linear reverse;
                        }
                    }
                }
            }
        }
    }
}
.ayo-service-box.animate__animated {
    .round-shape {
        .round-inner {
            display: none;
            @include media-only ("lg", min) {
                display: block;
            }
            .rt-round {
                bottom: 0px;
                right: -230px;
                opacity: 1;
                visibility: visible;
                transform: translate(0);
                transition-delay: .1s;
            }
            .rt-round-2 {
                bottom: -150px;
                right: -70px;
                opacity: 1;
                visibility: visible;
                transform: translate(0);
                transition-delay: .1s;
            }
            .round-shape-list {
                ul {
                    li {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0);
                        transition-delay: .1s;
                        &:nth-child(1) {
                            top: 80px;
                            right: -100px;
                        }
                        &:nth-child(2) {
                            bottom: -135px;
                            left: 145px;
                        }
                    }
                }
            }
        }
    }
}

@keyframes simple-move {
    100% {
        transform: translate(50px, 0);
    }
}

.ayo-service-content {
    text-align: center;
    @include media-only ("sm", min) {
        text-align: left;
    }
    @include media-only ("lg", min) {
        padding-left: 94px;
    }

    .section-heading {
        margin-bottom: 40px;
    }
    .ayo-faq-layout {
        padding-left: 0;
    }
}

.ayo-service-wrap-2 {
    position: relative;
    padding-top: 140px;
    padding-bottom: 140px;
    @include media-only ("lg", min) {
        // margin-bottom: -260px;
    }
    .rt-service-wrap {
        position: relative;
        @include media-only ("lg", min) {
            margin-left: 100px;
            margin-right: 100px;
        }
        .section-heading {
            @include media-only ("lg", min) {
                width: 379px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
        }
        .swiper-pagination {
            width: 600px;
            height: 5px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            position: absolute;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            top: inherit;
            .swiper-pagination-progressbar-fill {
                background-color: $color-primary;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: scale(0);
                transform-origin: left top;
                border-radius: 10px;
            }
        }
    }
}

.ayo-service-wrap-3 {
    padding-bottom: 140px;
    .section-heading {
        margin-bottom: 0;
        .heading-title {
            margin-bottom: 10px;
            @include media-only ("sm", min) {
                margin-bottom: 60px;
            }
            @include media-only ("lg", min) {
               padding-right: 130px;
            }
        }
        p {
            margin-bottom: 30px;
            @include media-only ("sm", min) {
                margin-bottom: 50px;
            }
            @include media-only ("lg", min) {
                padding-right: 30px;
            }
        }
    }
}

.ayo-service-wrap-4 {
    position: relative;
    padding: 140px 0px 0px 0px;
    z-index: 1;
    background-image: url(../../media/shape/service-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 1255px;
    @include media-only (1921px, min) {
        height: 1450px;
    }
    @include media-only (2301px, min) {
        height: 1670px;
    }
    .ayo-service-inner {
        padding: 80px 0px;
        @include media-only ("lg", min) {
            padding: 140px 0px;
        }
        .section-heading {
            @include media-only ("lg", min) {
                width: 406px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;
            }
        }
        .rt-ayo-service {
            padding-bottom: 60px;
        }
        position: relative;
        .swiper-pagination {
            position: inherit;
            margin-top: 25px;
            .swiper-pagination-bullet {
                height: 15px;
                width: 15px;
                background: #E8E5E5;
                border-radius: 20px;
                opacity: 1;
                display: inline-block;
                border-radius: 50%;
            }
            .swiper-pagination-bullet-active {
                background: $color-primary;
                width: 60px;
                height: 15px;
                border-radius: 20px;
            }
        }
    }
}

.ayo-service-wrap-4.style-2 {
    background-image: none;
    background: $color-gray;
    padding: 0px 0px 0px;
    height: auto;
    .rt-ayo-service {
        padding-bottom: 24px;
        @include media-only ("lg", min) {
            padding-bottom: 60px;
        }
    }
}

.ayo-service-wrap-5 {
    padding-bottom: 70px;
}
