/**
 * Layout - Faq.
 */


.faq-wrap {
    .section-heading {
        margin-bottom: 15px;
        @include media-only ("md", min) {
            margin-bottom: 50px;
        }
    }
}

.faq-wrap-2 {
    padding-bottom: 70px;
    @include media-only ("lg", min) {
        padding-bottom: 110px;
    }
}

.faq-box-1 {
    display: none;
    @include media-only ("lg", min) {
        margin-left: 30px;
        display: block;
    }
    .image-box {
        .item-img {
            > img {

                border-radius: 120px 0px 170px 170px;
                @include media-only ("lg", min) {
                    margin-bottom: 10px;
                    margin-left: 100px;
                }
            }
            .small-img {
                position: inherit;
                text-align: center;
                img {
                    border-radius: 50%;
                    @include media-only ("lg", min) {
                        margin-left: 100px;
                    }
                }
            }
            .element-shape {
                ul {
                    li {
                        &:nth-child(1) {
                            top: 90px;
                            left: 0;
                            img {
                                border-radius: 0px 170px 170px 170px;
                            }
                        }
                        &:nth-child(2) {
                           top: 50%;
                           right: 0;
                           transform: translateY(-50%);
                            img {
                                border-radius: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}