/**
 * Layout - About.
 */

.about-wrap {
    padding: 40px 0 0 0;
    @include media-only ("md", min) {
        padding: 120px 0 105px;
    }
    .text-box {
        @include media-only ("lg", min) {
            margin-left: -50px;
        }
    }
}

.about-wrap-2 {
    background-color: #FAFCFF;
    padding-top: 180px;
    .item-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.about-wrap-3 {
    .section-heading {
        @include media-only ("lg", min) {
            width: 683px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.about-wrap-4 {
    padding-bottom: 120px;
}
.about-tab-wrap {
    padding-top: 20px;
    padding-bottom: 120px;
}