
/**
 * Layout - Function.
 */
.function-wrap {
    z-index: 1;
    padding: 80px 0 120px;
    .shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.function-wrap-2 {
    z-index: 1;
    padding-top: 60px;
    .shape {
        position: absolute;
        top: 0;
        left: 40%;
        z-index: -1;
    }
}