
/**
 * Layout - Screenshot.
 */

.screenshot-wrap {
    background-color: #FBFAFF;
    padding-bottom: 80px;
    .screenshot-box {
        transition: all .7s ease;
    }
    
    .swiper-slide {
        &.swiper-slide-active {
            .screenshot-box {
                .item-img {
                    border: 0;
                    img {
                        padding: 0;
                        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }
}

.screenshot-wrapper {
    .screenshot-inner-slider {
        position: relative;
        .swiper-pagination {
            bottom: 35px;
            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                background: #F0ECFA;
                opacity: 1;
                display: inline-block;
                border-radius: 50%;
            }
            .swiper-pagination-bullet-active {
                background: $color-primary;
                width: 20px;
                height: 10px;
                border-radius: 20px;
            }
        }
    }
}