
/**
 * Layout - Testimonial.
 */

 .testimonial-wrap {
    position: relative;
    z-index: 1;
    padding: 120px 0 0 0;
    .testimonial-slider-wrap {
        position: relative;
        .swiper-pagination {
           bottom: 90px;
            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                background: #F0ECFA;
                opacity: 1;
                display: inline-block;
                border-radius: 50%;
            }
            .swiper-pagination-bullet-active {
                background: $color-primary;
                width: 20px;
                height: 10px;
                border-radius: 20px;
            }
        }
    }
}

.swiper-button {
    .swiper-button-prev, .swiper-button-next {
        height: 60px;
        width: 60px;
        border-radius: 5px;
        background-color: #F4F4F4;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        transition: all .3s ease-in-out;
        visibility: hidden;
        @include media-only ("sm", min) {
            visibility: visible;
        }
        &:hover {
            background-color: #FFF;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
        }
        &::after {
            display: none;
        }
        i {
            color: $color-black;
        }
    }
    .swiper-button-prev {
        @include media-only ("sm", min) {
            left: auto;
            right: 80px;
        }
    }
}

.testimonial-wrap-3 {
    background-color: $color-primary;
    background-image: url(../../media/bg/testimonial-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    .section-heading {
        @include media-only ("lg", min) {
            width: 621px;
            margin-right: auto;
            margin-left: auto;
        }
        .subTitle {
            background-color: #0C6CFD;
            color: $color-white;
        }
        .heading-title {
            color: $color-white;
        }
    }
    &.style-2 {
        .section-heading {
            .subTitle {
                background-color: #693BF9;
                border-radius: 50px;
            }
        }
    }
}


