/**
 * Layout - Pricing.
 */

.pricing-wrap {
    overflow: hidden;
    .section-heading {
        margin-bottom: 0px;
        @include media-only ("md", min) {
            margin-bottom: 30px;
        }
        p {
            @include media-only ("md", max) {
                margin-bottom: 20px;
            }
        }
        &.style-2 {
            margin-bottom: 30px;
        }
    }
}

.pricing-wrap-2 {
    padding-bottom: 55px;
    @include media-only ("lg", min) {
        padding-bottom: 115px;
    }
}

