/**
 * Layout - Feature.
 */

.ayo-feature-wrap {
   position: relative;
   overflow: hidden;
    .section-heading {
        text-align: center;
        @include media-only ("lg", min) {
            width: 466px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .rt-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        @include media-only (1600px, min) {
            display: block;
        }
    }
    .feature-inner-wrap {
        position: relative;
        z-index: 1;
        @include media-only (1600px, min) {
           padding-left: 410px;
        }
    }
}


.ayo-feature-wrap-2 {
    background: var(--color-primary);
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    @include media-only ("sm", min) {
        padding-bottom: 0px;
        padding-top: 90px;
    } 
}
.ayo-feature-wrap-2.style-2 {
    background: #145AFF;
}

.ayo-feature-img-wrap {
    position: relative;
    .item-img {
        position: relative;
        bottom: 0;
        left: 0px;
        display: none;
        @include media-only ("sm", min) {
           display: block;
        } 
        @include media-only ("lg", min) {
            left: 67px;
        } 
    }
    .small-img {
        position: absolute;
        bottom: 0;
        right: 0px;
        display: none;
        @include media-only ("md", min) {
            right: 50px;
            display: block;
        } 
        @include media-only ("lg", min) {
            right: 120px;
            display: block;
        } 
    } 
}


.ayo-feature-wrap-3 {
    padding-bottom: 65px;
    overflow: hidden;
    .section-heading {
        text-align: center;
        @include media-only ("lg", min) {
            width: 460px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.ayo-feature-wrap-3.style-2 {
    background: $color-gray;
}

.ayo-feature-inner-wrap {
    @include media-only (1920px, min) {
        margin-left: calc((100% - 1290px) / 2 - 210px);
        margin-right: calc((100% - 1290px) / 2 - 210px);
    }
    
    .ayo-feature-box-2 {
        background: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 24px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include media-only ("xs", min) {
           padding: 40px 35px 30px;
        }
        @include media-only ("lg", min) {
            margin-bottom: 50px;
        }
        &::before {
            position: absolute;
            content: '';
            background: #FF4980;
            width: 0%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: -1;
            transition: all 500ms ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            .content {
                .icon-btn-wrap {
                    .icon {
                        background: var(--color-white);
                    }
                    .tag {
                        a {
                            background-color: #fff;
                        }
                    }
                }
                .title {
                    color: var(--color-white);
                }
                p {
                    color: var(--color-white);
                }
            }
        }
        .content {
            display: block !important;
            .icon-btn-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 11px;
                .icon {
                    background: #FFEDF2;
                    border-radius: 17px;
                    height: 60px;
                    width: 60px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .4s ease;
                    svg {
                        color: #FF4980;
                    }
                }
                .tag {
                    a {
                        background: #F9F9F9;
                        border-radius: 10px;
                        font-family: var(--font-title);
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 19px;
                        text-transform: capitalize;
                        color: #191D27;
                        display: inline-block;
                        text-align: center;
                        padding: 10px 20px;
                        transition: all .4s ease;
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
            .title {
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;
                text-transform: capitalize;
                transition: all .4s ease;
                @include media-only ("xs", min) {
                    font-size: 24px;
                    line-height: 39px;
                }
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    .ayo-feature-box-2.style-2 {
        &::before {
            background: $color-primary;
        }
        .icon-btn-wrap {
            .icon {
                background: #F0F4FE;
                svg {
                    color: #145AFF;
                }
            }
        }
    }
    .ayo-feature-box-2.style-3 {
        &::before {
            background: #AF49FF;
        }
        .icon-btn-wrap {
            .icon {
                background: #FAF3FF;
                svg {
                    color: #AF49FF;
                }
            }
        }
    }
    .ayo-feature-box-2.style-4 {
        &::before {
            background: #E8AE19;
        }
        .icon-btn-wrap {
            .icon {
                background: #FFF8E4;
                svg {
                    color: #E8AE19;
                }
            }
        }
    }
    .ayo-feature-box-2.style-5 {
        &::before {
            background: #5F2FF2;
        }
        .icon-btn-wrap {
            .icon {
                background: #F7F4FF;
                svg {
                    color: #5F2FF2;
                }
            }
        }
    }
    .ayo-feature-box-2.style-6 {
        &::before {
            background: #16D72A;
        }
        .icon-btn-wrap {
            .icon {
                background: #E9FFEB;
                svg {
                    color: #16D72A;
                }
            }
        }
    }
}

.ayo-feature-wrap-4 {
    padding-top: 70px;
    @include media-only ("lg", min) {
       padding-top: 260px;
    }
}

.ayo-feature-box-3 {
    background: #F5F3FF;
    border-radius: 0px 0px 70px 70px;
    position: relative;
    margin-top: 100px;
    @include media-only ("xs", min) {
        margin-top: 160px;
        padding: 0px 120px;
    }
    @include media-only ("md", min) {
       margin-top: 0;
    }
    @include media-only ("lg", min) {
        margin-left: 65px;
    }
    .item-img {
        text-align: center;
        transform: translateY(-60px);
        @include media-only ("xs", min) {
            transform: translateY(-120px);
        }
        
    }
    .shape-element {
        display: none;
        @include media-only ("md", min) {
           display: block;
        }
        ul {
            li {
                position: absolute;
                &:nth-child(1) {
                    top: -120px;
                    left: 0;
                }
                &:nth-child(2) {
                   bottom: 270px;
                    right: 100px;
                }
                &:nth-child(3) {
                    bottom: -30px;
                    left: -35%;
                }
                &:nth-child(4) {
                    top: -90px;
                    right: 140px;
                }
                &:nth-child(5) {
                   bottom: 140px;
                   right: 0;
                }
            }
        }
    }
}

.ayo-feature-wrap-5 {
    background: #FFF8F8;
    border-radius: 50px;
    
    @include media-only (1441px, min) {
        margin-left: 100px;
        margin-right: 100px;
    }
    .section-heading {
        text-align: center;
        @include media-only ("lg", min) {
            width: 644px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.ayo-feature-box-4 {
    margin-bottom: 50px;
    @include media-only ("md", min) {
        margin-bottom: 24px;
    }
    .ayo-faq-layout {
        @include media-only ("lg", min) {
            padding-left: 0;
        }
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button {
                        display: block;
                        width: 100%;
                        text-align: left;
                        border: 0;
                        position: relative;
                        box-shadow: none;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 30px;
                        text-transform: capitalize;
                        font-family: var(--font-title);
                        transition: all .3s ease-in-out;
                        background-color: transparent;
                        color: var(--color-black);
                        border: 1px solid #cacaca;
                        border-radius: 10px 10px 0px 0px;
                        padding: 7px 30px;
                        @include media-only ("xs", min) {
                            font-size: 24px;
                            line-height: 55px;
                        }
                        .accr-plus, 
                        .accr-minus {
                            background-color: var(--color-primary);
                            color: var(--color-white);
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all 0.3s ease;
                            font-size: 13px;
                            font-weight: 600;
                            border-radius: 0;
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            &::before {
                                width: auto;
                                margin: 0;
                            }
                            @media only screen and (max-width: 479px) {
                                right: 15px;
                            }
                        }
                        .accr-plus {
                            display: none;
                        }
                        &.collapsed {
                            .accr-minus {
                                display: none;
                            }
                        
                            .accr-plus {
                                display: flex;
                                color: var(--color-black);
                                background-color: #fff;
                            }
                        }
                        &:focus {
                            outline: 0;
                            box-shadow: none;
                        }
                    }
                    .accordion-button.collapsed {
                        background: transparent;
                        color: var(--color-black);
                        border: 1px solid #cacaca;
                        border-radius: 10px;
                    }
                }
                .accordion-body {
                    background: transparent;
                    padding: 30px 40px 20px 30px;
                    border: 1px solid #C0C0C0;
                    border-radius: 0px 0px 5px 5px;
                    border-top: 0;
                    margin-top: -5px;
                    overflow: hidden;
                    @media only screen and (max-width: 479px) {
                        padding: 30px;
                    }
                    .description {
                        margin-bottom: 0px;
                        @media only screen and (max-width: 479px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.ayo-feature-box-5 {
    @media only screen and (min-width: 1200px) {
        padding-left: 55px;
    }
    .item-img {
        animation: move 7s infinite linear;
        img {
            width: 100%;
        }
    }
}

.ayo-feature-wrap-6 {
    padding-top: 100px;
    @include media-only ("xs", min) {
        padding-top: 170px;
    }
    @include media-only ("lg", min) {
        padding-top: 276px;
    }
}

.ayo-feature-box-6 {
    background: #F5F3FF;
    border-radius: 0px 0px 70px 70px;
    position: relative;
    margin-bottom: 24px;
    @include media-only ("xs", min) {
        padding: 0px 120px;
    }
    @include media-only ("md", min) {
        margin-bottom: 0;
    }
    .item-img {
        text-align: center;
        @include media-only (320px, min) {
            transform: translateY(-60px);
        }
        @include media-only ("xs", min) {
            transform: translateY(-120px);
        }
    }
    .shape-element {
        display: none;
        @include media-only ("lg", min) {
            display: block;
        }
        ul {
            li {
                position: absolute;
                &:nth-child(1) {
                    bottom: 110px;
                    right: 75px;
                }
                &:nth-child(2) {
                    bottom: 215px;
                    right: 70px;
                }
                &:nth-child(3) {
                    top: -150px;
                    right: 30px;
                }
                &:nth-child(4) {
                    top: -140px;
                    left: -100px;
                }
                &:nth-child(5) {
                    top: 140px;
                    left: -70px;
                }
            }
        }
    }
}

.ayo-feature-wrap-7 {
    padding: 140px 0px 0px 0px;
    .section-heading {
        text-align: center;
    }
}

.ayo-feature-box-7 {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 70px 17px 55px 17px;
    text-align: center;
    overflow: hidden;
    transition: all .4s ease-in-out;
    position: relative;
    width: 100%;
    z-index: 1;
    transition: all 400ms ease-in-out;
    margin-bottom: 50px;
    @include media-only ("lg", min) {
        margin-bottom: 0;
    }
    &:hover {
        @include media-only ("sm", min) {
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            border: 1px solid var(--color-white);
            transform: scale(1.1);
        }
        .overlay {
            opacity: 1;
            transform: scale(1.1);
        }
        .content {
            .item-icon {
                img {
                    
                    animation-name: ayoshake;
                    animation-timing-function: ease-in-out;
                    animation-duration: 0.4s;
                    animation-iteration-count: 1;
                }
            }
            .inner {
                .ft-btn {
                    opacity: 1;
                    transform: scale(1);
                    animation: fadeInUp .3s ease-in-out;
                }
            }
        }
    }
    .overlay {
        background-color: var(--primary-color);
        opacity: 0;
        transform: scale(.5);
        transition: opacity .3s ease,transform .3s ease;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .content {
        .item-icon {
            margin-bottom: 10px;
            img {
                transition: 0.2s ease-in-out;
            }
        }
        .title {
            line-height: 28px;
            margin-bottom: 0;
            a {
                font-weight: 600;
                font-size: 20px;
                color: var(--color-black);
                transition: all .3s ease-in-out;
                @include media-only ("xs", min) {
                   font-size: 22px;
                }
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
        .inner {
            position: relative;
            padding-bottom: 80px;
            p {
                font-size: 15px;
                line-height: 24px;
                color: #6B6B6B;
                position: absolute;
                top: 10px;
                transform: scale(1);
                display: block;
                display: -webkit-box;
                max-height: 53px;
                font-size: 15px;
                line-height: 1.6;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 2;
                box-orient: vertical;
                transition: all .3s linear;
            }
            .ft-btn {
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                color: var(--color-primary);
                opacity: 0;
                transform: scale(.5);
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                text-align: center;
                width: 100%;
                svg {
                    margin-left: 5px;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}

.ayo-feature-wrap-8 {
    background: linear-gradient(176.23deg, #100E0E 9.32%, #171717 96.91%);
    padding-bottom: 85px;
}
.ayo-feature-box-8 {
    @include media-only (1920px, min) {
        margin-left: -200px;
    }
    .item-img {
        animation: move 7s infinite linear;
    }
}
.ayo-feature-box-9 {
    .section-heading {
        margin-bottom: 45px;
        .heading-title {
            color: var(--color-white);
        }
    }
    .ayo-feature-layout {
        margin-bottom: 45px;
        &:hover {
            .icon {
                color: var(--color-white);
                animation-name: ayoshake;
                animation-timing-function: ease-in-out;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
            }
        }
        .icon {
            margin-bottom: 10px;
            transition: all .3s ease-in-out;
        }
        .content {
            .title {
                line-height: 25px;
                a {
                    font-weight: 500;
                    font-size: 20px;
                    color: var(--color-white);
                    transition: all .4s ease-in-out;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
            p {
                color: #A6A6A6;
                margin-bottom: 0;
            }
        }
    }
}

.ayo-feature-wrap-9 {
    padding-bottom: 140px;
}

.feature-box-10 {
    text-align: center;
    padding: 30px;
    background: #F7F7FF;
    border-radius: 20px;
    margin-bottom: 24px;
    @include media-only ("xs", min) {
        padding: 40px 80px;
    }
    @include media-only ("lg", min) {
        margin-bottom: 0;
    }
    &:hover {
        .item-img {
            img {
                transform: scale(1.1);
            }
        }
    }
    .item-img {
        margin-bottom: 10px;
        img {
            transition: all .4s ease;
        }
    }
    .content {
        .title {
            a {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $color-black;
                transition: all .4s ease-out;
                @include media-only ("xs", min) {
                    font-size: 24px;
                    line-height: 35px;
                }
                &:hover {
                    color: $color-primary;
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}
.feature-box-10.style-2 {
    background: #FFF7FB;
}
.feature-box-10.style-3 {
    background: #FFFAF8;
}

.ayo-feature-wrap-10 {
    // padding: 140px 0px 0px 0px;
    position: relative;
}

.ayo-feature-box-11 {
    text-align: center;
    padding: 70px 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before {
        height: 100%;
        width: 100%;
        background: #F7F9FF;
        clip-path: polygon(0 8%, 100% 0, 100% 92%, 0% 100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: all 300ms ease-in-out;
    }
    &:hover {
        &::before {
            background: #3266EB;
        }
        .item-shape {
            svg {
                animation-name: ayoshake;
                animation-timing-function: ease-in-out;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
            }
        }
        .content {
            .title {
                a {
                    color: $color-white;
                }
            }
            p {
                color: $color-white;
            }
        }
    }
    .item-shape {
        height: 80px;
        width: 80px;
        background: $color-white;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 13px;
        svg {
            color: #3266EB;
            transition: all .2s ease-in-out;
        }
    }
    .content {
        .title {
            line-height: 38px;
            a {
                font-weight: 500;
                font-size: 20px;
                color: $color-black;
                transition: all .3s ease-in-out;
                @include media-only ("lg", min) {
                    font-size: 30px;
                }
                @include media-only ("sm", min) {
                    font-size: 24px;
                }
            }
        }
        p {
            margin-bottom: 0;
            transition: all .3s ease-in-out;
        }
    }
}
.ayo-feature-box-11.active {
    &:hover {
        &::before {
            background: #EA45CF;
        }
        .content {
            .title {
                a {
                    color: $color-white;
                }
            }
            p {
                color: $color-white;
            }
        }
    }
    &::before {
        background: #FFE4FB;
        clip-path: polygon(0 0, 100% 9%, 100% 100%, 0 91%);
    }
    .item-shape {
        svg {
            color: #EA45CF;
        }
    }
}
.ayo-feature-box-11.style-2 {
    &:hover {
        &::before {
            background: #F09205;
        }
        .content {
            .title {
                a {
                    color: $color-white;
                }
            }
            p {
                color: $color-white;
            }
        }
    }
    &::before {
        background: #FFFAF3;
    }
    .item-shape {
        svg {
            color: #F09205;
        }
    }
}

.ayo-feature-wrap-11 {
    background: $color-gray;
    position: relative;
    overflow: hidden;
    .section-heading {
        .ayo-button-8 {
            text-align: left;
            margin-top: -20px;
            @include media-only ("sm", min) {
                text-align: right;
                margin-top: 0px;
            }
            .ayo-btn-8 {
                i {
                    color: $color-white;
                    margin-left: 10px;
                }
            }
        }
    }
}

.ayo-feature-box-12 {
    position: relative;
    .feature-list {
        .list-item {
            position: relative;
            padding: 20px 0px 20px 20px;
            width: 100%;
            @include media-only ("lg", min) {
                padding: 40px 0px 45px 120px;
            }
            &:hover {
                &::before {
                    width: 100%;
                    visibility: visible;
                    opacity: 1;
                    transition: width 0.4s ease;
                    left: 0;
                }
                .list-title {
                   color: $color-primary;
                   .description {
                        color: $color-primary;
                    }
                }
                .list-button {
                    color: $color-primary;
                }
            }
            &::after {
                content: "";
                height: 1px;
                width: 100%;
                background: #CED1D1;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-in-out;
            }
            .list-title {
                display: block;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                transition: all 50ms cubic-bezier(0.87, 0, 0.13, 1);
                color: $color-black;
                @include media-only ("sm", min) {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 38px;
                }
                .description {
                    font-size: 16px;
                    line-height: 21px;
                    color: #484949;
                    transition: all 50ms cubic-bezier(0.87, 0, 0.13, 1);
                    @include media-only ("sm", min) {
                        font-size: 18px;
                        line-height: 23px;
                    }
                }
            }
            .list-button {
                transition: all 50ms cubic-bezier(0.87, 0, 0.13, 1);
                color: #484949;
                @include media-only ("xs", min) {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                }
                @include media-only ("lg", min) {
                    right: 120px;
                }
                i {
                    margin-left: 6px;
                }
            }
        }
    }
}

.image-column {
    max-width: 35vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include media-only ("xs", min) {
        max-width: 25vw;
    }
    @include media-only ("sm", min) {
        max-width: 35vw;
    }
    @include media-only ("md", min) {
        max-width: 25vw;
    }
    @include media-only ("lg", min) {
        max-width: 15vw;
    }
    .col-img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 0s ease .6s,-webkit-clip-path 0s ease .6s;
        &:hover {
            opacity: 1;
            transition: clip-path .6s ease,-webkit-clip-path .6s ease;
            clip-path: inset(0 0 0 0);
        }
        img {
            width: 100%;
            height: auto;
            will-change: transform;
            object-fit: cover;
            display: block;
        }
        &:nth-child(2) {
            top: 150px;
        }
        &:nth-child(3) {
            top: 280px;
        }
        &:nth-child(4) {
            top: 400px;
        }
        &:nth-child(5) {
            top: 480px;
        }
    }
    .active {
        opacity: 1;
        transition: clip-path .6s ease,-webkit-clip-path .6s ease;
        clip-path: inset(0 0 0 0);
    }
}




