
/**
 * Layout - Function.
 */
.function-wrap {
    z-index: 1;
    // padding: 80px 0 120px;
    @include media-only ("xs", max) {
        padding: 70px 0 0 0;
    }
    @include media-only ("lg", min) {
        padding: 80px 0 120px;
    }
    .shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.function-wrap-2 {
    z-index: 1;
    @include media-only ("xs", max) {
        padding: 70px 0 0 0;
    }
    @include media-only ("md", min) {
        padding-top: 80px;
    }
    @include media-only ("lg", min) {
        padding-top: 60px;
    }
    .shape {
        position: absolute;
        top: 0;
        left: 40%;
        z-index: -1;
    }
}