/**
 * Layout - Footer.
 */


 .footer-1 {
    background-color: #07122D;
    position: relative;
    &::before {
        content: "";
        height: 783px;
        width: 100%;
        background-image: url(../../media/bg/footer-1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        @include media-only ("lg", min) {
            display: block;
        }
        @include media-only (2201px, min) {
            
            height: 1438px;
        }
    }
    &.style-2 {
        @include media-only ("lg", min) {
            padding-top: 105px;
        }
        &::before {
            display: none;
        }
    }
    &.style-3 {
        padding: 0;
        &::before {
            display: none;
        }
        .footer-top {
            border-bottom: 1px solid #2C3342;
            padding: 50px 0;
        }
        .footer-middle {
            padding: 70px 0 60px;
        }
    }
    &.style-4 {
        background-color: transparent;
        &::before {
            display: none;
        }
        .footer-logo {
            p {
                color: $color-black;
            }
            .contact-wrapper {
                .text {
                    color: $color-black;
                }
                .phone {
                    color: $color-black;
                    &:hover {
                        color: $color-primary;
                    }
                    .line {
                       
                        background-color: $color-black;
                    }
                }
            }
        }
        .footer-link {
            ul {
                li {
                    .link {
                        color: $color-black;
                        &::before {
                            color: $color-black; 
                        }
                        &:hover {
                            color: $color-primary;
                            &::before {
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }
        .footer-newsletter {
            .input-group {
                .form-control {
                    border: 1px solid #B7B7B7;
                }
                .btn-outline-secondary {
                    &:hover {
                        background-color: $color-primary;
                        i {
                            color: $color-white;
                        }
                    }
                }
            }
            .membership {
                .text {
                    color: $color-body;
                    a {
                        color: $color-black;
                    }
                }
            }
        }
        .item-social {
            .text {
                color: $color-black;
                font-weight: 600;
            }
        }
        .footer-bottom {
            border-top: 1px solid #DEDFE0;
            .text {
                color: $color-body;
                a {
                    color: $color-black;
                    font-weight: 500;
                }
            }
            .ft-bottom-link {
                gap: 30px;
                li {
                    .link {
                        color: $color-body;
                        &::before {
                            background-color: $color-body;
                        }
                        &:hover {
                            color: $color-black;
                            &::before {
                                background-color: $color-black;
                            }
                        }
                    }
                }
            }
        }
    }
}


.footer-top {
    padding: 80px 0 40px;
    z-index: 1;
    @include media-only ("md", min) {
        padding: 100px 0 60px;
    }
    @include media-only ("lg", min) {
        padding: 120px 0 100px 0;
    }
}



.footer-logo {
    margin-bottom: 30px;
    @include media-only ("xs", min) {
        margin-bottom: 0;
    }
    @include media-only ("lg", min) {
        margin-top: -10px;
    }
    .logo {
        margin-bottom: 25px;
    }
    p {
       color: #BEBEBE;
        margin-bottom: 20px;
        font-size: 18px;
    }
}

.contact-wrapper {
    .text {
        color: #bebebe;
    }
    .phone {
        color: #FEFEFE;
        font-family: $font-title;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        transition: all .3s ease-in-out;
        &:hover {
            color: $color-primary;
        }
        .line {
            height: 1px;
            width: 100%;
            background-color: #FEFEFE;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.contact-wrapper.has-animation .phone .line {
    width: 0;
    transition: all ease 1s;
}

.contact-wrapper.active-animation .phone .line {
    width: 100%;
    transition: all ease 1s;
}


.footer-link {
    ul {
        li {
            position: relative;
            &:last-child {
                .link {
                    margin-bottom: 0;
                }
            }
            .link {
                line-height: 44px;
                position: relative;
                color: #bebebe;
                transition: all .4s ease;
                padding-left: 0px;
                &:hover {
                    padding-left: 20px;
                    &::before {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    content: "\f061";
                    font-size: 16px;
                    color: #bebebe;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.4s ease;
                }
                &:hover {
                    color: $color-white;
                    &::before {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

.footer-newsletter {
    margin-bottom: 25px;
   .membership {
        .text {
            color: #D8D8D8;
            font-size: 14px;
            font-weight: 500;
            a {
                color: #B4B4B4;
                font-weight: 400;
            }
        }
   }
}

.footer-address {
    font-size: 18px;
    color: #BEBEBE;
    flex: 1;
}

.footer-icon-box {
    height: 45px;
    width: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #464D5E;
    border-radius: 45px;
    margin-right: 15px;
    i {
        color: $color-white;
        font-size: 15px;
    }
}



.footer-bottom {
    border-top: 1px solid #2C3342;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    .text {
        color: #BEBEBE;
        a {
            color: $color-white;
            transition: all .3s ease-in-out;
        }
    }
    .ft-bottom-link {
        gap: 30px;
        li {
            &:last-child {
                .link {
                    &::before {
                        display: none;
                    }
                }
            }
            .link {
                color: #A8A6A6;
                transition: all .4s ease-in-out;
                position: relative;
                &::before {
                    content: "";
                    height: 1px;
                    width: 7px;
                    background-color: #A8A6A6;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15px;
                    transition: all .4s ease-in-out;
                }
                &:hover {
                    color: $color-white;
                    &::before {
                        background-color: $color-white;
                    }
                }
            }
        }
    }
}



.footer-widget-title {
    font-family: $font-title;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 23px;
    color: $color-white;
    line-height: normal;
    &.style-2 {
        color: $color-black;
    }
}


