/**
 * Layout - Service.
 */
.service-wrap-3 {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .section-heading {
        @include media-only ("lg", min) {
            width: 630px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}
