/*=======================================================================
    Contact Form
=========================================================================*/
.contact-form-style-1 {
    .form-group {
      margin-bottom: 22px;
        .rt-form-control {
			background: $color-white;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            height: 50px;
			font-weight: 400;
            font-size: 16px;
            line-height: 20px;
			padding: 0px 0px 0px 15px;
            color: $color-black;
            &:focus {
                outline: 0;
                box-shadow: none;
                border-color: $color-black;
            }
            &::placeholder {
				color: $color-body;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .rt-textarea {
            min-height: 150px;
            resize: none;
            padding-top: 20px;
        }
    }
  
    .submit-btn {
        border-radius: 50px;
		color: $color-white;
		background-color: $color-primary;
		text-align: center;
		text-transform: capitalize;
		display: inline-block;
		padding: 12px 25px;
        height: 50px;
		transition: all 0.4s linear;
		position: relative;
		overflow: hidden;
		z-index: 2;
		font-weight: 600;
		font-size: 16px;
		border: 0;
		&:hover {
			color: $color-white;
			background-color: $color-black;
			
		}
		&:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}
  
/*rt-contact-form*/
  
.rt-contact-form {
    .form-response {
        .alert {
            margin-top: 1rem;
            p {
                margin-bottom: 0;
            }
        }
    }
}