.banner-wrap {
    padding-bottom: 80px;
    @include media-only ("lg", min) {
        padding-bottom: 120px;
    }
    @include media-only ("1900px", min) {
        transform: translateY(100%);
        padding-bottom: 0;
    }
}

.banner-layout {
    background-image: url(../../media/banner/banner-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    background-color: $color-primary;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @include media-only ("xs", min) {
        padding: 70px;
    }
    @include media-only ("md", min) {
        padding: 40px 100px 0 120px;
    }
    @include media-only ("1900px", min) {
        margin-top: -310px;
    }
    .item-img {
        z-index: 1;
        display: none;
        @include media-only ("md", min) {
            bottom: -20px;
            display: block;
        }
        @include media-only ("lg", min) {
            bottom: -22%;
            display: block;
        }
        .small-img {
            position: absolute;
            bottom: 0;
            z-index: -1;
            padding-left: 110px;
        }
    }
    .element-shape {
        display: none;
        @include media-only ("md", min) {
            display: block;
        }
        li {
            position: absolute;
            &:nth-child(1) {
                top: 25px;
                left: 90px
            }
            &:nth-child(2) {
                bottom: 25px;
                left: 35%;
            }
        }
    }
    &.style-2 {
        padding: 40px;
        border-radius: 10px;
        @include media-only ("sm", min) {
            padding: 50px 80px 45px;
        }
        @include media-only ("lg", min) {
            transform: translateY(230px);
            margin-top: -250px;
        }
        .banner-text {
            margin-bottom: 0;
        }
    }
    &.style-3 {
        background-color: $color-primary;
        background-image: none;
        border-radius: 10px;
        z-index: 1;
        padding: 75px 80px;
        .shape {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .banner-text {
            p {
                letter-spacing: 1.8px;
                font-size: 18px;
            }
            .heading-title {
                line-height: 55px;
            }
        }
    }
}


.banner-text {
    @include media-only ("md", min) {
        margin-bottom: 45px;
    }
    .text-box {
        p {
            color: $color-white;
            font-weight: 700;
        }
        .heading-title {
            color: $color-white;
        }
    }
}


.banner-wrap-2 {
    padding: 0 0 120px 0;
}

.banner-layout-2 {
    background-color: #FEF7F2;
    padding: 0;
    border-radius: 0;
    height: 100%;
    position: relative;
    @include media-only ("lg", min) {
        height: 473px;
    }
    .banner-text {
        padding: 30px;
        @include media-only ("xs", min) {
            padding: 50px;
        }
        @include media-only ("md", min) {
            padding: 80px 40px 40px;
        }
        @include media-only ("lg", min) {
            margin-bottom: 0;
            padding: 110px 40px 0 80px;
        }
        .text-box {
            p {
                color: $color-body;
                font-weight: 400;
            }
            .heading-title {
                color: $color-black;
            }
        }
    } 
    .shape {
        position: absolute;
        top: 120px;
        right: 42%;
        display: none;
        @include media-only ("md", min) {
            display: block;
        }
        svg {
            color: $color-black;
        }
    }
}

.banner-img-2 {
    position: absolute;
    bottom: 0;
}