
.ayo-about-box {
    margin-left: 0;
    margin-bottom: 24px;
    @include media-only ("md", min) {
        margin-left: -50%;
        margin-bottom: 0;
    }
    @include media-only (1921px, min) {
        margin-left: -73%;
    }
    @include media-only (2201px, min) {
        margin-left: -74%;
    }
    @include media-only (2301px, min) {
        margin-left: -100%;
    }
    .item-img {
        position: relative;
        z-index: 1;
        img {
            border: 3px solid #000000;
            border-radius: 50px;
            @include media-only ("md", min) {
                border-radius: 0px 50px 50px 0px;
            }
        }
        .shape {
            z-index: -1;
            position: relative;
            .rt-shape {
                transform: skew(-7deg);
                width: 900px;
                height: 600px;
                background: rgba(0, 0, 0, .05);
                border-radius: 50px;
                position: absolute;
                bottom: 0;
                left: -50px;
                display: none;
                @include media-only ("lg", min) {
                   display: block;
                }
            }
        }
    }
}

.ayo-about-content {
    padding-left: 0;
    @include media-only ("lg", min) {
        padding-left: 100px;
     }
    @include media-only (1921px, min) {
        padding-left: 0px;
    }
    .section-heading {
        margin-bottom: 25px;
        p {
            margin-bottom: 0;
        }
    }
    .about-list {
        margin-bottom: 35px;
        ul {
            li {
                font-family: var(--font-title);
                font-weight: 500;
                font-size: 16px;
                line-height: 32px;
                color: var(--color-black);
                @include media-only ("xs", min) {
                    font-size: 18px;
                    line-height: 36px;
                }
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
    .about-list-2 {
        ul {
            li {
                display: flex;
                gap: 10px;
                align-items: center;
                .icon {
                    i {
                        color: #06CF0E;
                        font-size: 20px;
                    }
                }
                .text {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #6B6B6B;
                }
            }
        }
    }
    .about-button-list {
        ul {
            display: block;
            @include media-only (376px, min) {
                display: flex;
                align-items: center;
                gap: 20px;
            }
            li {
                .about-btn {
                    border: 1px solid #191D27;
                    border-radius: 5000px;
                    background-color: transparent;
                    padding: 8px 30px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    transition: all .4s ease-in-out; 
                    position: relative;
                    z-index: 1;
                    overflow: hidden;
                    margin-bottom: 20px;
                    @include media-only (376px, min) {
                        margin-bottom: 0;
                    }
                    &:after {
                        content: "";
                        height: 400px;
                        width: 400px;
                        background-color: $color-primary;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%) scale(0);
                        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        z-index: -1;
                        @include media-only (376px, min) {
                            height: 300px;
                            width: 300px;
                        }
                    }
                    
                    &:hover {
                        border-color: $color-primary;
                        &::after {
                            transform: translateY(-50%) translateX(-50%) scale(1);
                        }
                        .brand {
                            i {
                                color: var(--color-white);
                            }
                        }
                        .content {
                            .label {
                                color: var(--color-white);
                            }
                            .text {
                                color: var(--color-white);
                            }
                        }
                    }
                    .brand {
                        i {
                            color: var(--color-black);
                            font-size: 35px;
                            transition: all .4s ease-in-out; 
                        }
                        .fa-apple {
                            font-size: 40px;
                        }
                    }
                    .content {
                        .label {
                            font-size: 15px;
                            line-height: 20px;
                            color: #626161;
                            transition: all .4s ease-in-out; 
                        }
                        .text {
                            font-family: var(--font-title);
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: var(--color-black);
                            transition: all .4s ease-in-out; 
                        }
                    }
                }
            }
        }
    }
}

.ayo-about-content.style-2 {
    @include media-only ("lg", min) {
        padding-left: 40px;
    }
}

.ayo-about-content.style-3 {
    margin-bottom: 50px;
    @include media-only ("md", min) {
        margin-bottom: 0px;
    }
    @include media-only ("lg", min) {
        padding-right: 90px;
    }
    .about-list {
        ul {
            li {
                svg {
                    color: $color-primary;
                }
            }
        }
    }
}



.ayo-about-content.style-4 {
    @media only screen and (min-width: 1200px) {
        padding-left: 70px;
    }
    .about-list-2 {
        margin-bottom: 50px;
    }
    .ayo-button {
        .ayo-btn {
            border-radius: 75px;
        }
    }
}

.ayo-about-content.style-5 {
    @media only screen and (min-width: 1200px) {
        padding-left: 30px;
    }
    .about-list-2 {
        margin-bottom: 40px;
        ul {
            li {
                margin-bottom: 10px;
                .icon {
                    i {
                        color: $color-primary;
                    }
                }
                .text {
                    color: $color-black;
                }
            }
        }
    }
}
.ayo-about-content.style-6 {
    @media only screen and (min-width: 1200px) {
        padding-left: 65px;
    }
    .about-list-2 {
        margin-bottom: 40px;
        ul {
            li {
                margin-bottom: 10px;
                .icon {
                    i {
                        color: $color-primary;
                    }
                }
                .text {
                    color: $color-black;
                }
            }
        }
    }
}
.ayo-about-content.style-7 {
    .title {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
    }
    .about-list {
        margin-bottom: 10px;
        ul {
            li {
                position: relative;
                padding-left: 20px;
                &::before {
                    content: "";
                    height: 10px;
                    width: 10px;
                    background: #c9c9c9;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
    }
    p {
        @include media-only ("lg", min) {
            margin-bottom: 45px;
        }
    }
    .about-button {
        .about-btn {
            font-weight: 500;
            display: inline-block;
            font-size: 19px;
            line-height: 25px;
            transition: all .4s linear;
            position: relative;
            &::after {
                content: "";
                height: 100%;
                width: 0;
                border-bottom: 1px solid $color-primary;
                left: 100%;
                position: absolute;
                bottom: 0;
                transition: all .4s;
            }
            &:hover {
                &::after {
                    width: 100%;
                    transition: width .4s ease;
                    left: 0;
                }
            }
        }
    }
}

.item-about-imgae {
    animation: move 7s infinite linear;
}
.ayo-about-img-wrap {
    position: relative;
    z-index: 1;
    margin-bottom: 24px;
    @include media-only ("md", min) {
       margin-bottom: 0px;
    }
    .item-img {
        border-radius: 4px;
        img {
            width: 100%;
        }
    }
    .small-img {
        position: absolute;
        bottom: -150px;
        left: -100px;
        display: none;
        @include media-only ("lg", min) {
            display: block;
        }
    }
    .shape-list {
        background: linear-gradient(341.06deg, #8629D5 10.27%, #B05AFF 89.13%);
        border-radius: 50%;
        height: 114px;
        width: 114px;
        position: absolute;
        bottom: -40px;
        right: -20px;
        z-index: -1;
        display: none;
        @include media-only ("lg", min) {
            display: block;
        }
    }
}
.ayo-about-img-wrap-2 {
    position: relative;
    z-index: 1;
    .item-img {
        position: relative;
        text-align: center;
        margin-bottom: 24px;
        @include media-only ("xs", min) {
           margin-bottom: 0px;
        }
        .element {
            display: none;
            @include media-only ("lg", min) {
                display: block;
            }
            ul {
                li {
                    position: absolute;
                    &:nth-child(1) {
                        bottom: 0;
                        right: -30px;
                    }
                    &:nth-child(2) {
                       top: 320px;
                        left: -30px;
                    }
                }
            }
        }
    }
    .shape {
        background: #FFEAEA;
        width: 526px;
        height: 526px;
        border-radius: 50%;
        position: absolute;
        bottom: 0px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        @include media-only ("xs", min) {
           display: block;
        }
    }
    .dot-shape {
        position: absolute;
        top: 230px;
        right: -30px;
        z-index: -2;
        display: none;
        @include media-only ("lg", min) {
            display: block;
        }
    }
}

.ayo-about-img-wrap.style-2 {
    margin-left: 0;
    padding-right: 0;
    .item-img {
        img {
            border-radius: $border-radius-xl;
        }
    }
}


.ayo-about-tab-box {
    margin-bottom: 24px;
    @include media-only ("md", min) {
        margin-bottom: 0;
    }
    .tab--style--1 {
        .nav-tabs {
            justify-content: flex-start;
            margin-bottom: 35px;
            .nav-item {
                margin-bottom: 15px;
                @include media-only (400px, min) {
                    margin-bottom: 0;
                }
                .nav-link {
                    background-color: #EFF1F5;
                    color: $color-black;
                    border: 0;
                }
                .active {
                    background: #386FFB;
                    color: $color-white;
                }
            }
        }
        .heading-title {
            font-size: 30px;
            margin-bottom: 30px;
        }
        .about-list-2 {
            ul {
                li {
                    display: inline-block;
                    line-height: 30px;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .text {
                        i {
                            color: #53D67F;
                            font-size: 20px;
                            margin-right: 5px;
                        }
                        font-weight: 400;
                        font-size: 16px;
                        color: #626262;
                    }
                }
            }
        }
    }
}

.ayo-about-tab-img {
    .item-img {
        img {
            border-radius: $border-radius-xl;
            width: 100%;
        }
    }
}