
.about-box-1 {
    .image-box {
        .item-img {
            z-index: 1;
            @include media-only ("lg", min) {
                margin-left: -50px;
            }
            .element-shape {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: 100px;
                            right: 30px;
                            left: auto;
                        }
                        &:nth-child(2) {
                            top: auto;
                            bottom: -170px;
                            right: 270px;
                            left: auto;
                        }
                        &:nth-child(3) {
                            left: 110px;
                            bottom: -20px;
                            animation: move 2s ease infinite;
                        }
                        &:nth-child(4) {
                            top: 67px;
                            right: 261px;
                            animation: move 2s ease infinite;
                        }
                        &:nth-child(5) {
                            bottom: -100px;
                            right: 200px;
                            animation: move 2s ease infinite;
                        }
                    }
                }
            }
        }
    }
}

.round-shape-2 {
    height: 450px;
    width: 450px;
    border-radius: 500px;
    background: linear-gradient(90deg, #E9FAEC 0%, #F2FFF4 47.4%, #FDFDFD 100%);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: -1;
    display: none;
    @include media-only ("md", min) {
        display: block;
    }
}

.about-imglayout {
    img {
        border-radius: 20px;
    }
}

.about-imglayout2 {
    img {
        border-radius: 10px;
    }
}

.about-box-2 {
    .text-box {
        .heading-title {
            font-size: 24px;
            line-height: 1;
            margin-bottom: 10px;
        }
        .about-list {
            margin-bottom: 18px;
            ul {
                li {
                    font-weight: 600;
                    i {
                        color: #C9C9C9;
                        font-size: 12px;
                    }
                }
            }
        }
        p {
            margin-bottom: 35px;
        }
    }
}


.sasxo-about-tab-box {
    .text-box {
        .heading-title {
            font-size: 30px;
            line-height: 45px;
        }
        .about-list {
            ul {
                li {
                    color: $color-body;
                    font-size: 16px;
                    font-weight: 400;
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.about-tab-image-layout {
    gap: 25px;
    .item-img {
        @include media-only ("lg", min) {
            margin-top: -90px;
        }
        img {
            border-radius: 10px;
        }
    }
    .item-img2 {
        img {
            border-radius: 10px;
        }
    }
}