/*======================================
// Social
=====================================*/
.item-social {
	.text {
		color: #FFF;
		font-size: 14px;
		font-weight: 500;
	}
	ul {
		gap: 10px;
		li {
			a {
				height: 40px;
				width: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 40px;
				border: 1px solid #767A82;
				transition: all .3s ease-out;
				i {
					color: #767A82;
					font-size: 14px;
					transition: all .3s ease-out;
				}
				&.item-fb {
					&:hover {
						background-color:#1877F2;
						border-color: #1877F2;
						i {
							color: $color-white;
						}
					}
				}
				&.item-twit {
					&:hover {
						background-color:#1DA1F2;
						border-color: #1DA1F2;
						i {
							color: $color-white;
						}
					}
				}
				&.item-In {
					&:hover {
						background-color:#0077B5;
						border-color: #0077B5;
						i {
							color: $color-white;
						}
					}
				}
				&.item-insta {
					&:hover {
						background-color:#FD1D1D;
						border-color: #FD1D1D;
						i {
							color: $color-white;
						}
					}
				}
			}
		}
		
	}
}
