.tools-wrap {
    background-color: #554DF3;
    z-index: 1;
    .shape {
        position: absolute;
        top: 0;
        // z-index: -1;
        right: 10%;
        img {
            opacity: .2;
        }
    }
}

.tools-box {
    .text-box {
        .heading-title {
            color: $color-white;
            margin-bottom: 20px;
        }
        p {
            color: $color-white;
        }
    }
}

.tools-logo-area {
    @include media-only ("lg", min) {
        margin-left: 100px;
    }
    .tools-logo {
        gap: 30px;
    }
}