.tab--style--1 {
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 30px;
		position: relative;
		z-index: 1;
		border-radius: 60px;
		background-color: #FFF;
		box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
		padding: 20px;
		width: 215px;
		@include media-only ("md", min) {
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
		}
		.nav-item {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			.nav-link {
				background-color: #F7F4FF;
				border: 0;
				border-radius: 33px;
				font-weight: 500;
				font-size: 15px;
				line-height: 20px;
				text-transform: capitalize;
				color: var(--color-primary);
				padding: 10px 15px;
				&:focus {
					outline: 0;
					box-shadow: none;
				}
			}
			.active {
				color: var(--color-white);
				background: var(--color-primary);
			}
		}
	}
}
.tab--style--2 {
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 50px;
		position: relative;
		z-index: 1;
		background-color: #F9F9F9;
		box-shadow: none;
		padding: 20px;
		width: 384px;
		margin-left: auto;
		margin-right: auto;
		.nav-item {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			.nav-link {
				background-color: transparent;
				border: 0;
				border-radius: 0;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				text-transform: capitalize;
				color: var(--color-black);
				padding: 14px 25px;
				span {
					font-weight: 400;
					font-size: 14px;
				}
				&:focus {
					outline: 0;
					box-shadow: none;
				}
			}
			.active {
				color: var(--color-primary);
				background: var(--color-white);
				padding: 14px 25px;
			}
		}
	}
}

.tab--style--3 {
	.nav-tabs {
		border-bottom: 1px solid #dedede;
		margin-bottom: 50px;
		justify-content: space-between;
		align-items: center;
		.nav-item {
			max-width: 25%;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
			.nav-link {
				background-color: transparent;
				border: 0;
				border-radius: 0;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				text-transform: capitalize;
				color: var(--color-black);
				position: relative;
				&::before {
					content: "";
					height: 1px;
					width: 100%;
					background-color: #473BEF;
					position: absolute;
					bottom: -10px;
					left: 0;
					transition: all .3s ease;
					transform: scale(0);
				}
				.icon {
					height: 60px;
					width: 60px;
					background-color: #F2F1FF;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					border-radius: 7px;
					svg {
						color: #473BEF;
					}
				}
				.title {
					font-size: 18px;
					font-weight: 600;
					line-height: 28px;
					text-transform: capitalize;
					margin-left: 15px;
					flex: 1;
				}
				&:focus {
					outline: 0;
					box-shadow: none;
				}
			}
			.active {
				position: relative;
				&::before {
					transform: scale(1);
				}
				.icon {
					background-color: #473BEF;
					svg {
						color: $color-white;
					}
				}
			}
		}
	}
}

.tab--style--4 {
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 40px;
		.nav-item {
			display: inline-block;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			.nav-link {
				background-color: #F8F5FF;
				border: 0;
				border-radius: 70px;
				font-size: 20px;
				font-weight: 600;
				line-height: normal;
				padding: 12px 33px;
				color: $color-primary;
				&:focus {
					outline: 0;
					box-shadow: none;
				}
			}
			.active {
				background-color: $color-primary;
				color: $color-white;
			}
		}
	}
}

.product-tab-1 {
    .nav-tabs {
        border-bottom: 0;
        margin-bottom: 23px;
        gap: 30px;
        border-bottom: 1px solid #c0c0c0;
        padding-bottom: 17px;
		@include media-only ("xs", min) {
			gap: 65px;
		}
        .nav-item {
            .nav-link {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                color: #6C6B6B;
                display: inline-block;
                transition: all 0.3s ease-in-out;
                border-radius: 0;
                padding: 0;
                border: 0;
                &:hover {
                    color: $color-black;
                }
            }
    
            .active {
                color: var(--color-black);
                background: transparent;
            }
        }
    }
}