.feature-box-1 {
    &:hover {
        .info-box {
            .icon-shape {
                border-radius: 70px;
                background-color: #FF760E;
                svg {
                    color: $color-white;
                }
                &.style-2 {
                    background-color: #0EA8FF;
                }
                &.style-3 {
                    background-color: #FF0E82;
                }
                &.style-4 {
                    background-color: #39DF7B;
                }
            }
            .text {
                > a {
                    color: $color-primary;
                }
            }
        }
    }
    &.style-2 {
        transform: translateY(80px);
    }
}