.text-box {
    .heading-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-transform: capitalize;
        margin-bottom: 10px;
        @include media-only ("md", min) {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 20px;
        }
        @include media-only ("lg", min) {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 30px;
        }
    }
    p {
        @include media-only ("md", min) {
            margin-bottom: 25px;
        } 
    }
    .about-list {
        margin-bottom: 20px;
        @include media-only ("md", min) {
            margin-bottom: 38px;
        } 
        ul {
            li {
                font-weight: 500;
                color: var(--color-black);
                font-size: 18px;
                line-height: 32px;
                @include media-only ("xs", min) {
                    font-size: 18px;
                    line-height: 40px;
                }
                i {
                    color: #00BD6F;
                    font-size: 22px;
                    margin-right: 8px;
                }
            }
        }
    }
}