.testimonial-inner {
    padding-top: 75px;
}
.testimonial-box {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    .item-icon {
        height: 100px;
        width: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background-color: $color-white;
        box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.04);
        @include media-only ("lg", min) {
            margin-top: -50px;
            transform: translateY(-35px);
        }
        svg {
            color: #7D51F7;
        }
    } 
    .quote {
        font-size: 18px;
        color: $color-black;
        font-weight: 400;
        line-height: 30px; 
    }
    .content {
        @include media-only ("lg", min) {
            margin-bottom: 100px;
        }
        .name {
            font-weight: 700;
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 0;
            @include media-only ("xs", min) {
                font-size: 20px;
                line-height: 35px;
            }
        }
        .place {
            font-size: 18px;
            font-style: italic;
            font-weight: 500;
            color: #808080;
            margin-top: -2px;
            @include media-only ("xs", min) {
                font-size: 19px;
            }
        }
    }
}

.customer-img {
    text-align: center;
    @include media-only ("lg", min) {
        position: relative;
        top: -115px;
        left: 55px;
    }
}


