
.brand {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
    @include media-only ("xs", min) {
        gap: 40px;
        grid-template-columns: repeat(3,1fr);
    }
    @include media-only ("sm", min) {
        gap: 40px;
        grid-template-columns: repeat(4,1fr);
    }
    @include media-only ("md", min) {
        gap: 50px;
        grid-template-columns: repeat(5,1fr);
    }
    @include media-only ("lg", min) {
        gap: 60px;
        grid-template-columns: repeat(6,1fr);
    }
    li {
        &:hover {
            img {
                filter: invert(0);
                opacity: 1;
            }
        }
        img {
            filter: invert(.5);
            cursor: pointer;
            opacity: .75;
            transition: all .4s ease-in-out;
        }
    }
    &.style-2 {
        li {
            &:hover {
                img {
                    mix-blend-mode: normal;
                }
            }
            img {
                filter: invert(0);
                opacity: 1;
                mix-blend-mode: luminosity;
                transition: all .4s ease-in-out;
            }
        }
    }
}
