.counter-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 0;
    &.style-2 {
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: rgba(12, 22, 55, 0.65);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}



.counterUp {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-black);
    line-height: 1;
    .post-fix {
        font-size: 20px;
        position: relative;
        font-weight: 300;
    }
    &.style-2 {
        font-size: 40px;
        color: $color-white;
        font-family: $font-title;
        font-weight: 400;
        margin-bottom: 10px;
        .post-fix {
            font-size: 24px;
            color: $color-white;
            font-weight: 400;
        }
    }
}

.counter-box {
    gap: 15px;
    &.style-2 {
        .item-icon {
            svg {
                color: $color-primary;
            }
        }
        .sas-counter {
            .counterUp {
                color: $color-black;
            }
            .label-1 {
                color: $color-black;
            }
        }
    }
}

.sas-counter {
    .label-1 {
        font-size: 18px;
        color: $color-white;
        font-weight: 500;
        line-height: normal;
    }
}