.screenshot-box {
    .item-img {
        img {
            width: 100%;
        }
    }
}

.screenshot-box {
    transform: scale(.9);
    transition: all .7s ease;
}

.swiper-slide {
    &.swiper-slide-active {
        .screenshot-box {
            transform: scale(.9);
            @include media-only ("xs", min) {
                transform: scale(1.032);
            }
            .item-img {
                border: 0;
                img {
                    padding: 0;
                    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 20px;
                    width: 100%;
                }
            }
        }
    }
}

.mobile-frame {
    left: 50%;
    top: 20px;
    z-index: 2;
    width: 305px;
    height: 625px;
    display: block;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../media/iPhone/iPhone-frame.png);
    transform: translateX(-50%);
    display: none;
    @include media-only ("xs", min) {
        width: 286px;
        height: 590px;
        display: block;
    }
    @include media-only ("sm", min) {
        width: 260px;
        height: 540px;
        display: block;
    }
    @include media-only ("lg", min) {
        width: 290px;
        height: 585px;
        display: block;
    }
}

.screenshot-wrapper {
    .swiper-wrapper {
        padding: 0px 0 50px;
        @include media-only ("xs", min) {
            padding: 35px 0 100px;
        }
        @include media-only ("lg", min) {
            width: 320px;
            height: 580px;
        }
    }
}