

.process-wrap {
    background-color: $color-primary;
    z-index: 1;
    .map-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .section-heading {
        .heading-title {
            color: $color-white;
        }
        p {
            color: $color-white;
        }
    }
}