/*======================================
// Play Button
=====================================*/
.play-btn {
    display: inline-block;
    &:hover {
        .play-icon {
            border-color: $color-primary;
            &:after {
                transform: translateY(-50%) translateX(-50%) scale(1);
            }
        }
    }
    .play-icon {
        background: transparent;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        transition: all .7s ease-in-out;
        border: 1px solid var(--color-white);
        overflow: hidden;
        i {
            font-size: 15px;
            color: $color-white;
        }
        &::after {
            content: "";
            height: 80px;
            width: 80px;
            background-color: $color-primary;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) scale(0);
            transition: 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            z-index: -1;
        }
    }
    .play-text {
        font-family: var(--font-title);
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-transform: capitalize;
        color: $color-white;
        margin-left: 10px;
        transition: all .7s ease-in-out;
    }
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    &:hover {
        .play-btn {
            background: $color-primary;
        }
    }
    .play-btn {
        width: 80px;
        height: 80px;
        background-color: $color-primary;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .4s linear;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
            animation: pulse-border 2000ms ease-out infinite;
            z-index: -1;
        }
        i {
            color: $color-white;
            font-size: 30px;
            position: relative;
            left: 3px;
        }
    }
}
