.product-wrap {
    padding: 62px 0 40px;
    @include media-only ("md", min) {
        padding: 60px 0 40px;
    }
    @include media-only ("lg", min) {
        padding: 100px 0 85px;
    }
}

.product-wrap-2 {
    @include media-only ("lg", min) {
        padding: 0 0 80px;
    }
}

.shop-top-area {
    margin-bottom: 20px;
    @include media-only ("xs", min) {
        margin-bottom: 30px;
    }
    .showing-item {
        font-size: 20px;
        line-height: 26px;
        color: $color-black;
        font-weight: 600;
        text-align: center;
        @include media-only ("xs", min) {
           margin-bottom: 0;
           text-align: left;
        }
    }
    .sort-item {
        text-align: center;
        @include media-only ("xs", min) {
            text-align: right;
        }
        .dropdown {
            position: relative;
            .btn {
                width: 207px;
                height: 45px;
                border: 1px solid $color-white;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--color-black);
                font-size: 18px;
                line-height: 23px;
                font-weight: 600;
                background-color: #fff;
                border-radius: 10px;
                position: relative;
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
                &::after {
                    content: "\f107";
                    font-family: Font Awesome\ 5 Free;
                    font-weight: 900;
                    font-size: 14px;
                    border: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                }
            }
            .dropdown-menu {
                li {
                    .dropdown-item {
                        color: $color-black;
                        font-weight: 500;
                        &:hover {
                            background: $color-primary;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

.product-box-1 {
    margin-bottom: 30px;
    &:hover {
        .item-img {
            a {
                img {
                    transform: scale(1.1);
                }
            }
            .cart-button {
                visibility: visible;
                opacity: 1; 
                bottom: 70px;
            }
            .wishlist-button {
                top: 25px;
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .item-img {
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        a {
            width: 100%;
            img {
                border-radius: 10px;
                width: 100%;
                transition: all .3s ease-out 0s;
            }
        }
        .cart-button {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            visibility: hidden;
            opacity: 0;
            transition: all .6s ease-out 0s;
            .cart-btn {
                font-family: $font-title;
                display: inline-block;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: $color-black;
                padding: 12px 25px;
                text-align: center;
                background: $color-white;
                border-radius: 30px;
                transition: all .3s ease-out 0s;
                &:hover {
                    background: $color-primary;
                    color: $color-white;
                }
            }
        }
        .wishlist-button {
            position: absolute;
            top: 0px;
            right: 30px;
            visibility: hidden;
            opacity: 0;
            transition: all .6s ease-out 0s;
            .wish-btn {
                height: 50px;
                width: 50px;
                background: rgba(0, 0, 0, 0.1);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all .3s ease-out 0s;
                &:hover {
                    background: $color-primary;
                }
                i {
                    font-size: 20px;
                    color: $color-white;
                    transition: all .3s ease-out 0s;
                }
            }
        }
    }
    .content {
        text-align: center;
        padding-top: 25px;
        .title {
            margin-bottom: 0;
            a {
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
                color: $color-black;
                transition: all .4s ease-in-out;
                &:hover {
                    color: $color-primary;
                }
            }
        }
        .price {
            font-family: $font-title;
            font-weight: 600;
            font-size: 20px;
            color: $color-black;
        }
    }
}

.single-product-wrapper {
    .product-wrapper-slider {
        position: relative;
        .product-img-area-1 {
            overflow: hidden;
            height: 100%;
            .item-img {
                overflow: hidden;
                height: 100%;
                img {
                    cursor: pointer;
                    transform: scale(1);
                    transition: all .3s ease-in-out;
                    border-radius: 10px;
                    height: 100%;
                    object-fit: cover;
                    @include media-only ("lg", max) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.rt-thumbnail-slider-style-1 {
    @include media-only ("lg", min) {
        margin-left: 184px;
    }
}

.rt-thumbnail-slider-thumb-style-1 {
    height: auto;
    float: inherit;
    margin-left: 0;
    width: auto;
    position: inherit; 
    @include media-only (1199px, max) {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    @include media-only ("lg", min) {
        height: 480px;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }
    .thumb-img {
        cursor: pointer;
        height: 100%;
        img {
            filter: grayscale(50%);
            transition: all .3s ease-in-out;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            @include media-only ("lg", max) {
                width: 100%;
            }
            &:hover {
                filter: grayscale(0);
            }

        }
    }
}
.rt-thumbnail-slider-thumb-style-1 .swiper-slide-thumb-active .thumb-img img {
    filter: grayscale(0);
    opacity: 1;
}

.single-product-wrap {
    padding: 80px 0 70px;
    @include media-only ("lg", min) {
        padding: 120px 0 110px;
    }
}


.product-description-box {
    .top-content {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #c4c4c4;
        padding-bottom: 20px;
        .description {
            .product-sk {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
            }
            .title {
                font-weight: 600;
                font-size: 24px;
                line-height: 34px;
            }
            .stock {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: $color-black;
                i {
                    color: #0ABF47;
                    font-size: 16px;
                    margin-right: 5px;
                }
            }
        }
        .wish-button {
            position: relative;
            z-index: 1;
            .wish-btn {
                height: 40px;
                width: 40px;
                background: rgba(0, 0, 0, 0.3);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all .3s ease-out 0s;
                &:hover {
                    background: $color-primary;
                }
                i {
                    font-size: 15px;
                    color: $color-white;
                    transition: all .3s ease-out 0s;
                }
            }
        }
    }
    .action-content {
        margin-bottom: 20px;
        position: relative;
        @include media-only (321px, min) {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 28px;
        }
        .list-wrap {
            .rt-check-list {
                display: flex;
                .item {
                    .radio-custom {
                        opacity: 0;
                        position: absolute;
                    }
                }
            }
        }
        .price-wrap {
            margin-bottom: 25px;
            .new-price {
                font-family: $font-title;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                color: $color-black;
                margin-right: 5px;
            }
            .old-price {
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                text-decoration-line: line-through;
                font-family: $font-body;
                margin-right: 5px;
            }
            .off-price {
                font-weight: 500;
                font-size: 13px;
                line-height: 17px;
                text-transform: uppercase;
                color: #FFFFFF;
                background: $color-primary;
                border-radius: 2px;
                display: inline-block;
                padding: 3px;
                line-height: 1;
            }
        }
        .color-picker-wrap {
            margin-bottom: 27px;
            .color {
                font-family: $font-title;
                line-height: 20px;
                color: $color-black;
                font-weight: 500;
            }
        }
        .rt-check-list {
            margin-bottom: 27px;
        }
        .cart-box-area {
            .rt-action-list {
                display: flex;
                gap: 13px;
                align-items: center;
                li {
                    .quantity-box.style-1 {
                        display: flex;
                        align-items: center;
                        border: 1px solid $color-body;
                        border-radius: 30px;
                        background-color: transparent;
                        padding: 12px 10px;
                        width: 90px;
                        height: 45px;
                        .quantity-btn.quantity-plus, .quantity-minus {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            color: $color-black;
                            border: 0;
                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                        .quantity-input {
                            border: 0;
                            border-radius: 0;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            color: var(--color-black);
                            background-color: transparent;
                            text-align: center;
                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                        .form-control {
                            padding: 0;
                        }
                    }
                }
                .cart-btn {
                    a {
                        background-color: var(--color-black);
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 23px;
                        color: #FFFFFF;
                        display: inline-block;
                        text-align: center;
                        padding: 11px 22px;
                        transition: all .3s ease-in-out;
                        text-transform: capitalize;
                        border-radius: 30px;
                        &:hover {
                            background: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

.single-product-details-wrap {
    @include media-only ("lg", min) {
        padding: 55px 0 0 0;
    }
    position: relative;
    z-index: 1;
    .product-details {
        .title {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 30px;
        }
        .description {
            margin-bottom: 0;
        }
    }
    .review-box {
        .review-wrapper {
            .review-list {
                .author-info-box {
                    gap: 15px;
                    .item-img {
                        img {
                            height: 90px;
                            width: 90px;
                            border-radius: 50%;
                        }
                    }
                    .item-content {
                        flex: 1;
                        .heading {
                            .name {
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .date {
                                font-size: 15px;
                                font-weight: 400;
                            }
                        }
                        .rating-box {
                            .rating {
                                li {
                                    a {
                                        i {
                                            color: #f5c415;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .review-form {
            .form-header {
                .block-title {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 31px;
                    margin-bottom: 10px;
                }
                .rating-box-2 {
                    .rating-title {
                        font-size: 18px;
                    }
                    .rating {
                        li {
                            margin-right: 3px;
                            a {
                                i {
                                    color: #f5c415;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

	

