.ayo-price-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 40px 40px 50px 40px;
    position: relative;
    z-index: 1;
    transition: all .4s ease;
    margin-bottom: 24px;
    @include media-only ("lg", min) {
        margin-bottom: 0;
    }
    &:hover {
        .label {
            &::after {
                opacity: 0;
                transition: all .5s ease-in-out; 
            }
            &::before {
                opacity: 1;
                width: 100%;
                transition: all .5s ease-in-out;
            }
        }
        .aayoo-button {
            .aayoo-btn {
                background: var(--color-primary);
                color: var(--color-white);
            }
        }

    }
    .tag {
        position: absolute;
        top: 25px;
        right: 21px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: capitalize;
        display: inline-block;
        color: #FFFFFF;
        background: #1B31F8;
        border-radius: 8px;
        padding: 6px 10px 8px;
    }
    .price-box {
        .pricing__price {
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;
            text-transform: capitalize;
            color: var(--color-black);
            font-family: var(--font-title);
            .dollar {
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 30px;
                color: #6B788E;
            }
        }
    }
    .label {
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        text-transform: capitalize;
        color: #7E7E7E;
        position: relative;
        padding-bottom: 35px;
        margin-bottom: 32px;
        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: #CBCBCB;
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all .5s ease-in-out;
            opacity: 1;
        }
        &::before {
            content: "";
            height: 1px;
            width: 0;
            background: $color-primary;
            border-radius: 20px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .5s ease-in-out;
            opacity: 0;
        }
    }
    .list-pricing {
        ul {
            li {
                font-size: 18px;
                line-height: 40px;
                font-family: var(--font-title);
                color: var(--color-black);
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
    .purchase-info {
        padding-top: 30px;
        .user {
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            text-transform: capitalize;
            color: #7E7E7E;
            margin-bottom: 15px;
        }
    }
    .aayoo-button {
        .aayoo-btn {
            background: #FFF8F8;
            color: var(--color-primary);
            transition: all .4s ease-in-out;
        }
    }
}

.ayo-price-box.style-2 {
    background: #141218;
    box-shadow: none;
    border: 0;
    &:hover {
        border-color: var(--color-primary);
        .label {
            &::after {
                background-color: var(--color-primary);
            }
        }

    }
    .price-box {
        text-align: center;
        .pricing__price {
            font-weight: 400;
            color: var(--color-white);
            .dollar {
                font-weight: 400;
                color: var(--color-white);
            }
        }
    }
    .label {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #818181;
        text-align: center;
        &::after {
            background: #2F2C33;
            box-shadow: 0;
        }
    }
    .list-pricing {
        ul {
            li {
                color: #D7D7D7;
                font-weight: 400;
                svg {
                    margin-right: 8px;
                }
            }
        }
    }
    .purchase-info {
        .user {
            color: #A6A6A6;
        }
    }
    .ayo-button {
        .ayo-btn {
            background: #FFF8F8;
            color: #0047FF;
            transition: all .4s ease-in-out;
            font-weight: 500;
            &:hover {
                background-color: #0047ff;
                color: var(--color-white);
            }
        }
    }
}

.ayo-pricing-content {
    @include media-only ("lg", min) {
        padding-left: 26px;
    }
    .section-heading {
        margin-bottom: 40px;
        .heading-title {
            color: var(--color-white);
        }
        p {
            color: #A6A6A6;
        }
    }
    .video-area {
        .play {
            &:hover {
                i {
                    color: var(--color-white);
                    background: var(--color-primary);
                }
                .text {
                    color: $color-primary;
                }
            }
            i {
                color: var(--color-white);
                font-size: 24px;
                transition: all .4s ease-in-out;
                height: 60px;
                width: 60px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: #9F25FF;
                border-radius: 50%;
                transition: all .4s ease-in-out;
            }
            .text {
                font-weight: 500;
                font-size: 22px;
                line-height: 29px;
                text-transform: capitalize;
                color: var(--color-white);
                margin-left: 14px;
                transition: all .4s ease-in-out;
            }
        }
    }
}