.screenshot-box {
    margin: 50px 0px 85px 0px;
    .item-img {
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
        img {
            border-radius: 20px;
            width: 100%;
        }
    }
}