.sas-price-box {
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 50px 30px 45px;
    margin-bottom: 24px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background-color: #F84436;
        visibility: hidden;
        opacity: 0;
        transition: all .31s ease-in-out;
        z-index: -1;
    }
    @include media-only ("lg", min) {
        margin-bottom: 0;
    }
    &:hover {
        &::after {
            height: 100%;
            width: 100%;
            opacity: 1;
            visibility: visible;
        }
        .item-icon {
            svg {
                color: $color-white;
                transform: rotate(0deg);
            }
            &::before {
                background-color: #f36156;
            }
        }
        .plan-area {
            .plan {
                color: $color-white;
            }
            p {
                color: $color-white;
            }
        }
        .pricing-box {
            .pricing__price {
                color: $color-white;
            }
            p {
                color: $color-white;
            }
        }
        .plan-button {
            a {
                background-color: $color-white;
                color: #F84436;
            }
        }
        .listing-price {
            ul {
                li {
                    color: $color-white;
                }
            }
        }
    }

    .item-icon {
        position: relative;
        z-index: 1;
        margin-bottom: 10px;
        svg {
            color: #F84436;
            transform: rotate(-15deg);
            transition: all .35s ease-in-out;
        }
        &::before {
            content: "";
            height: 63px;
            width: 63px;
            background-color: #F7F4FF;
            position: absolute;
            bottom: 16px;
            left: 30px;
            border-radius: 63px;
            z-index: -1;
            transition: all .35s ease-in-out;
        }
    }
    .plan-area {
        margin-bottom: 30px;
        .plan {
            color: $color-black;
            font-family: $font-title;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            text-transform: capitalize;
            transition: all .35s ease-in-out;
        }
        p {
            color: #6d6d6d;
            font-weight: 500;
            transition: all .35s ease-in-out;
        }
    }
    .pricing-box {
        margin-bottom: 20px;
        .pricing__price {
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            text-transform: capitalize;
            color: var(--color-black);
            font-family: var(--font-title);
            transition: all .35s ease-in-out;
            .dollar {
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 30px;
                color: #6B788E;
            }
        }
        p {
            color: #6d6d6d;
            font-weight: 500;
            transition: all .35s ease-in-out;
        }
    }
    .plan-button {
        margin-bottom: 25px;
        a {
            border-radius: 43px;
            background-color: #F7F4FF;
            color: #7D51F8;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            display: inline-block;
            padding: 14px 30px;
            width: 100%;
            transition: all .35s ease-in-out;
        }
    }
    .listing-price {
        ul {
            li {
                line-height: 40px;
                color: var(--color-black);
                transition: all .35s ease-in-out;
                i {
                    color: #2CDD5F;
                    margin-right: 10px;
                }
            }
        }
    }
    &.style-2 {
        &::after {
            background-color: $color-primary;
        }
        &:hover {
            .item-icon {
                &::before {
                    background-color: #7144F1;
                }
                svg {
                    color: $color-white;
                }
            }
            .plan-button {
                a {
                    color: #7144F1;
                }
            }
        }
        .item-icon {
            svg {
                color: $color-primary;
            }
        }
    }
    &.style-3 {
        &::after {
            background-color: #A236F8;
        }
        &:hover {
            .item-icon {
                &::before {
                    background-color: #b25ff6;
                }
                svg {
                    color: $color-white;
                }
            }
            .plan-button {
                a {
                    color: #A236F8;
                }
            }
        }
        .item-icon {
            svg {
                color: #A236F8;
            }
        }
    }
    &.style-4 {
        &::after {
            background-color: #F89E36;
        }
        &:hover {
            .item-icon {
                &::before {
                    background-color: #f8bd7a;
                }
                svg {
                    color: $color-white;
                }
            }
            .plan-button {
                a {
                    color: #F89E36;
                }
            }
        }
        .item-icon {
            svg {
                color: #F89E36;
            }
        }
    }
}