.input-group {
    width: 100%;
    position: relative;
    .form-control {
        background: transparent;
        border: 1px solid #2C3342;
        border-radius: 2px !important;
        height: 45px;
        font-size: 16px;
        line-height: 28px;
        color: var(--color-white);
        padding: 0px 0px 0px 20px;
        margin-right: 10px;
        &:focus {
            outline: 0;
            box-shadow: none;
            border-color: $color-white;
        }
        &::placeholder {
            color: #767A82;
        }
    }
    .btn-outline-secondary {
        border: 0;
        background: var(--color-primary);
        border-radius: 2px !important;
        width: 45px;
        height: 45px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease-in-out;
        &:hover {
            background-color: $color-white;
            i {
                color: $color-primary;
                animation: headShake 1.5s;
            }
        }
        i {
            color: $color-white;
            transition: all .4s ease-in-out;
        }
        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
    .text {
        font-size: 15px;
        line-height: 19px;
        color: #888787;
        span {
            color: var(--color-black);
        }
    }
}