

.function-box {
    .text-box {
        p {
            margin-bottom: 15px;
        }
        .content {
            .title {
                font-size: 20px;
                font-weight: 600;
            }
        }
        .about-list {
            ul {
                li {
                    color: $color-body;
                    font-size: 16px;
                }
            }
        }
    }
}

.function-box-2 {
    position: relative;
    z-index: 1;
    .item-img {
        position: relative;
        text-align: center;
        z-index: 1;
        .element {
            display: none;
            @include media-only ("sm", min) {
                display: block;
            }
            li {
                position: absolute;
                &:nth-child(1) {
                    bottom: 150px;
                    left: 20px;
                    height: 91px;
                    width: 91px;
                    background-color: #FA421A;
                    border-radius: 91px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
                &:nth-child(2) {
                    bottom: 190px;
                    right: 10px;
                    background-color: $color-white;
                    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.10));
                    padding: 24px;
                    border-radius: 10px;
                }
            }
        }
    }
    .dot-shape {
        position: absolute;
        top: 180px;
        left: 0;
        z-index: -2;
        display: none;
        @include media-only ("sm", min) {
            display: block;
        }
    }
    &.style-2 {
        .element {
            li {
                position: absolute;
                &:nth-child(1) {
                    bottom: 290px;
                    left: 0px;
                    height: 118px;
                    width: 118px;
                    border-radius: 130px;
                    background-color: $color-white;
                    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
                }
                &:nth-child(2) {
                    bottom: -50px;
                    right: -50px;
                    background-color: transparent;
                    filter: 0;
                    padding: 0;
                    border-radius: 0;
                }
            }
        }
        .function-shape {
            background-color: #FFEAEA;
        }
        .dot-shape {
            left: auto;
            right: 0;
            opacity: .4;
        }
    }
}

.function-shape {
    width: 526px;
    height: 526px;
    border-radius: 526px;
    background-color: #FFECE5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}