/*======================================
// Animation
=====================================*/


/*------------------- toBottomFrom Animation -------------------*/

@-webkit-keyframes toBottomFromTop {
    49% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    51% {
      opacity: 1;
    }
}

@-webkit-keyframes toBottomFromTop10 {
  49% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toBottomFromTop10 {
  49% {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  51% {
    opacity: 1;
  }
}

/*------------------- toRightFromLeft Animation -------------------*/

@-webkit-keyframes toRightFromLeft {
  49% {
        transform: translateX(100%);
  }
  50% {
      opacity: 0;
      transform: translateX(-100%);
  }
  51% {
        opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
        transform: translateX(100%);
  }
  50% {
        opacity: 0;
        transform: translateX(-100%);
  }
  51% {
        opacity: 1;
  }
}

/*------------------- Scale Animation -------------------*/

@-webkit-keyframes scale-up-one {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(.5);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes scale-up-one {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(.5);
  }
  100% {
      transform: scale(1);
  }
}

/*------------------- rtPulse Animation -------------------*/

@keyframes rtpulse {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 122, 0, 0.25);
  }

  70% {
      box-shadow: 0 0 0 20px rgba(12, 31, 215, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(12, 31, 215, 0);
  }
}
/*------------------- Pulse border Animation -------------------*/

@-webkit-keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
      opacity: 1;
  }
  100% {
   
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 0;
  }
}
@keyframes pulse-border {
  0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
      opacity: 1;
  }
  100% {
    
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 0;
  }
}

/*------------------- Zoom Animation -------------------*/

@-webkit-keyframes rtZoom {
  0% {
      transform: scale(1, 1);
  }
  50% {
      transform: scale(1.5, 1.5);
  }
  100% {
      transform: scale(1, 1);
  }
}
@keyframes rtZoom {
0% {
  transform: scale(1, 1);
}
50% {
  transform: scale(1.5, 1.5);
}
100% {
  transform: scale(1, 1);
}
}


/*------------------- Move Animation -------------------*/

@-webkit-keyframes move {
  0% {
        transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
    }

  100% {
      transform: translateY(0);
  }
}

@keyframes move {
  0% {
      transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
  }

  100% {
      transform: translateY(0);
    }
}

/*------------------- rotated Animation -------------------*/

@-webkit-keyframes rotated {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		transform: translate(73px, -1px) rotate(36deg);
	}
	40% {
		transform: translate(141px, 72px) rotate(72deg);
	}
	60% {
		transform: translate(83px, 122px) rotate(108deg);
	}
	80% {
		transform: translate(-40px, 72px) rotate(144deg);
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes rotated {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		transform: translate(73px, -1px) rotate(36deg);
	}
	40% {
		transform: translate(141px, 72px) rotate(72deg);
	}
	60% {
		transform: translate(83px, 122px) rotate(108deg);
	}
	80% {
		transform: translate(-40px, 72px) rotate(144deg);
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

/*------------------- pulse Animation -------------------*/

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #6230f0;
    }
    40% {
		box-shadow: 0 0 0 50px rgb(255 194 17 / 0%);
    }
	70% {
		box-shadow: 0 0 0 50px rgb(255 194 17 / 0%);
    }
	100% {
		box-shadow: 0 0 0 0 rgb(255 194 17 / 0%);
	}
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #6230f0;
    }
    40% {
		box-shadow: 0 0 0 50px rgb(255 194 17 / 0%);
    }
	70% {
		box-shadow: 0 0 0 50px rgb(255 194 17 / 0%);
    }
	100% {
		box-shadow: 0 0 0 0 rgb(255 194 17 / 0%);
	}
}

/*------------------- Shake -------------------*/

@keyframes ayoshake {
  10% {
      transform: translateY(-10px);
  }
  50% {
      transform: skew(15deg);
  }
  80% {
      transform: rotate(10deg);
  }
  100% {
      transform: translate(0);
  }
}

/*------------------- RightFromLeft -------------------*/

@keyframes toRightFromLeft {
  49% {
        transform: translateX(100%);
  }
  50% {
        opacity: 0;
        transform: translateX(-100%);
  }
  51% {
        opacity: 1;
  }
}

/*------------------- Custom Animation -------------------*/

.rtFadeInUp {
  animation-name: rtFadeInUp;
  animation-timing-function: cubic-bezier(.22,1,.36,1),cubic-bezier(0,0,.2,1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.rtFadeInDown {
  animation-name: rtFadeInDown;
  animation-timing-function: cubic-bezier(.22,1,.36,1),cubic-bezier(0,0,.2,1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.rtFadeInLeft {
  animation-name: rtFadeInLeft;
  animation-timing-function: cubic-bezier(.22,1,.36,1),cubic-bezier(0,0,.2,1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
.rtFadeInRight {
  animation-name: rtFadeInRight;
  animation-timing-function: cubic-bezier(.22,1,.36,1),cubic-bezier(0,0,.2,1);
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes rtFadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 50px, 0);
  }

  100% {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes rtFadeInLeft {
  0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
  }

  100% {
      opacity: 1;
      transform: translateZ(0);
  }
}

@keyframes rtFadeInDown {
  0% {
      opacity: 0;
      transform: translate3d(0, -50%, 0)
  }

  to {
      opacity: 1;
      transform: translateZ(0)
  }
}

@keyframes rtFadeInRight {
  0% {
      opacity: 0;
      transform: translateX(50px)
  }

  to {
      opacity: 1;
      transform: translateX(0)
  }
}

@keyframes rtZoomIn {
  0% {
    opacity: 0;
    transform: matrix(.85,0,0,.85,0,0);
  }

  100% {
    opacity: 1;
    transform: matrix(1,0,0,1,0,0);
  }
}


/*======================================
// Wow Custom Animation
=====================================*/

.wow {
	transition-timing-function: ease;
	transition-delay: 0.5s;
}

.animate {
	&__animation-translate-right {
		transform: translateX(-30px);
		opacity: 0;
		transition-property: transform, opacity;
	}

	&__animation-scale-y {
		transform: translateY(40px) scaleY(1.4);
		opacity: 0;
		transition-property: transform, opacity;
	}

	&__animation-scale {
		transform: translateY(30px) scale(0.5);
		opacity: 0;
		transition-property: transform, opacity;
	}

	&__animated {
		&.animate {
			&__animation-translate-right {
				transform: translateX(0);
				opacity: 1;
			}

			&__animation-scale-y {
				transform: translateY(0) scaleY(1);
				opacity: 1;
			}

			&__animation-scale {
				transform: translateY(0) scale(1);
				opacity: 1;
			}
		
		}
	}

	&__animated {
		transition-duration: 0.7s;
	}
}

@media only screen and (max-width: 1440px) {
    [class*=animate__animation] {
        visibility: visible !important;
        opacity: 1 !important;
        transform: none !important;
    }
}
