.feature-box-1 {
    &:hover {
        .info-box {
            .icon-shape {
                border-radius: 70px;
                background-color: #FF760E;
                svg {
                    color: $color-white;
                }
                &.style-2 {
                    background-color: #0EA8FF;
                }
                &.style-3 {
                    background-color: #FF0E82;
                }
                &.style-4 {
                    background-color: #39DF7B;
                }
            }
            .text {
                > a {
                    color: $color-primary;
                }
            }
        }
    }
    &.style-2 {
        transform: translateY(80px);
    }
}

.feature-box-2 {
    .image-box {
        .item-img {
            @include media-only ("lg", min) {
                margin-left: 100px;
            }
            .element-shape {
                ul {
                    li {
                        &:nth-child(1) {
                            top: 150px;
                            left: -150px;
                        }
                        &:nth-child(2) {
                            top: -100px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

.feature-box-3 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2,1fr);
    @include media-only ("lg", min) {
        margin-top: -55px;
    }
    .info-box {
        transition: all .4s ease-in-out;
        .icon-shape {
            height: 60px;
            width: 60px;
            border-radius: 60px;
        }
        &:hover {
            transform: scale(1.05);
            .icon-shape {
                border-radius: 70px;
                background-color: #FF760E;
                svg {
                    color: $color-white;
                }
                &.style-2 {
                    background-color: #0EA8FF;
                }
                &.style-3 {
                    background-color: #FF0E82;
                }
                &.style-4 {
                    background-color: #39DF7B;
                }
                &.style-5 {
                    background-color: #2707EF;
                }
                &.style-6 {
                    background-color: #F8A151;
                }
            }
            .text {
                > a {
                    color: $color-primary;
                }
            }
        }
    }
}

.feature-box-4 {
    border-radius: 200px 20px 20px 20px;
    background: #FFEFF2;
    padding: 100px;
    .image-box {
        ul {
            li {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.style-2 {
        border-radius: 20px 20px 200px 20px;
        background-color: #F9F9FF;
        padding: 50px 35px 55px 35px;
        .image-box {
            ul {
                li {
                    margin-bottom: -60px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.feature-box-5 {
    .text-box {
        .shape {
            margin-bottom: 20px;
            svg {
                color: #FF7A1A;
            }
            &.style-2 {
                svg {
                    color: #3350E8;
                }
            }
        }
        .heading-title {
            margin-bottom: 20px;
        }
    }
    p {
        color: $color-primary;
        font-size: 24px;
        font-weight: 600;
        font-family: $font-title;
    }
    .desc-1 {
        color: $color-body;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .about-list {
        gap: 30px;
    }
}

.feature-box-6 {
    &:hover {
        .info-box {
            .item-content {
                .service-button {
                    .service-btn {
                        color: $color-black;
                        &::before {
                            width: 100%;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .info-box {
        border-radius: 10px;
        background-color: #FFF8F8;
        box-shadow: none;
        gap: 20px;
        padding: 30px;
        .shape {
            height: 70px;
            width: 70px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 70px;
            background-color: #F17027;
            i {
                color: $color-white;
                font-size: 24px;
            }
        }
        .item-content {
            flex: 1;
        }
    }
    &.style-2 {
        .info-box {
            background-color: #F8FAFF;
            .shape {
                background-color: #75A0FF;
            }
        }
    }
    &.style-3 {
        .info-box {
            background-color: #F2FFF6;
            .shape {
                background-color: #45E476;
            }
        }
    }
}

.feature-box-7 {
    .text-box {
        p {
            color: $color-black;
            font-size: 20px;
            font-weight: 600;
            font-family: $font-title;
        }
    }
}


//....team-feature....//

.team-feature-wrap {
    padding: 0 0 120px 0;
}
.team-feature-img {
    .image-box {
        .item-img {
            .element-shape {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: 150px;
                            left: -30px;
                        }
                        &:nth-child(2) {
                            top: -2px;
                            right: 50px;
                        }
                        &:nth-child(3) {
                            bottom: -15px;
                            right: 125px;
                        }
                        &:nth-child(4) {
                            top: 100px;
                            left: 120px;
                        }
                        &:nth-child(5) {
                            bottom: 110px;
                            left: 190px;
                        }
                    }
                }
            }
        }
    }
}
.team-feature-info {
    .text-box {
        .desc-1 {
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
        .text-wrap {
            .text {
                font-size: 20px;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }
}

//....management-feature....//
.management-feature-wrap {
    padding: 100px 0 0 0;
}
.management-feature {
    .image-box {
        .item-img {
            .element-shape {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: 100px;
                            left: -50px;
                        }
                        &:nth-child(2) {
                            top: -2px;
                            right: 80px;
                        }
                        &:nth-child(3) {
                            bottom: -15px;
                            right: 50px;
                        }
                        &:nth-child(4) {
                            top: 100px;
                            left: 120px;
                        }
                        &:nth-child(5) {
                            bottom: 110px;
                            left: 190px;
                        }
                    }
                }
            }
        }
    }
}
.management-feature-info {
    @include media-only ("lg", min) {
        margin-left: -50px;
    }
}

//....project-feature....//

.project-feature-wrap {
    padding: 0 0 120px 0;
}
.project-feature-img {
    .image-box {
        .item-img {
            .element-shape {
                ul {
                    li {
                        position: absolute;
                        &:nth-child(1) {
                            top: 0;
                            right: -50px;
                            left: auto;
                        }
                        &:nth-child(2) {
                            top: 50px;
                            right: auto;
                            left: -100px;
                        }
                    }
                }
            }
        }
    }
}
.project-feature-info {
    .text-box {
        .desc-1 {
            margin-bottom: 40px;
        }
        .button-style-2 {
            margin-bottom: 40px;
            .fill-btn {
                border-radius: 0;
            }
        }
       .counter {
            gap: 70px;
            .sas-counter {
                .counterUp {
                    margin-bottom: 7px;
                    .post-fix {
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
                .label-1 {
                    font-size: 20px;
                    color: #A5A3A3;
                }
            }  
        }
    }
}

